In [2]:
from itertools import combinations

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
import swifter

# Подготовка датасета для загрузки в сеть

In [3]:
base_df = pd.read_csv('data/clean_frame.csv', index_col='ind')
base_df.columns

Index(['ID', 'Код_группы', 'Год_Поступления', 'Год_Окончания_УЗ', 'Пособие',
       'Общежитие', 'Наличие_Матери', 'Наличие_Отца', 'Опекунство', 'Село',
       'Иностранец', 'КодФакультета', 'СрБаллАттестата', 'Статус', 'male',
       'female', 'sex_summ', 'birth_year_int', 'basis', 'language', 'country',
       'region', 'city', 'parents_country'],
      dtype='object')

### Проверка и удаление отрицательных значений

In [4]:
base_df.isna().any().all()

False

In [5]:
base_df = base_df.fillna(0)

In [6]:
def get_accuracy(frame_to_train):
    train, test = train_test_split(frame_to_train, test_size=0.20)
    
    train_input = train.drop('Статус', axis=1)    
    train_output = train['Статус']

    test_input = test.drop('Статус', axis=1)
    test_output = test['Статус']

    clf = RandomForestClassifier(random_state=0)
    clf.fit(train_input, train_output)
    pred = clf.predict(test_input)
    return f1_score(test_output, pred, average='macro', zero_division = 0)

In [7]:
all_columns_list = base_df.columns.to_list()
all_columns_list.remove('ID')
all_columns_list.remove('Статус')
all_columns_list

['Код_группы',
 'Год_Поступления',
 'Год_Окончания_УЗ',
 'Пособие',
 'Общежитие',
 'Наличие_Матери',
 'Наличие_Отца',
 'Опекунство',
 'Село',
 'Иностранец',
 'КодФакультета',
 'СрБаллАттестата',
 'male',
 'female',
 'sex_summ',
 'birth_year_int',
 'basis',
 'language',
 'country',
 'region',
 'city',
 'parents_country']

In [ ]:
bad_columns = []

In [88]:
elements_num = len(all_columns_list)
elements_num = 2

In [89]:
all_combinations = []
list_sizes = 0
min_col = 2
for i in range(min_col, elements_num+1):
    curent_list = list(combinations(all_columns_list, i))
    list_sizes += len(curent_list)
    all_combinations = all_combinations + curent_list
comb_size = len(all_combinations)
comb_size

231

In [90]:
all_combinations

[('Код_группы', 'Год_Поступления'),
 ('Код_группы', 'Год_Окончания_УЗ'),
 ('Код_группы', 'Пособие'),
 ('Код_группы', 'Общежитие'),
 ('Код_группы', 'Наличие_Матери'),
 ('Код_группы', 'Наличие_Отца'),
 ('Код_группы', 'Опекунство'),
 ('Код_группы', 'Село'),
 ('Код_группы', 'Иностранец'),
 ('Код_группы', 'КодФакультета'),
 ('Код_группы', 'СрБаллАттестата'),
 ('Код_группы', 'male'),
 ('Код_группы', 'female'),
 ('Код_группы', 'sex_summ'),
 ('Код_группы', 'birth_year_int'),
 ('Код_группы', 'basis'),
 ('Код_группы', 'language'),
 ('Код_группы', 'country'),
 ('Код_группы', 'region'),
 ('Код_группы', 'city'),
 ('Код_группы', 'parents_country'),
 ('Год_Поступления', 'Год_Окончания_УЗ'),
 ('Год_Поступления', 'Пособие'),
 ('Год_Поступления', 'Общежитие'),
 ('Год_Поступления', 'Наличие_Матери'),
 ('Год_Поступления', 'Наличие_Отца'),
 ('Год_Поступления', 'Опекунство'),
 ('Год_Поступления', 'Село'),
 ('Год_Поступления', 'Иностранец'),
 ('Год_Поступления', 'КодФакультета'),
 ('Год_Поступления', 'СрБаллАттестата'),
 ('Год_Поступления', 'male'),
 ('Год_Поступления', 'female'),
 ('Год_Поступления', 'sex_summ'),
 ('Год_Поступления', 'birth_year_int'),
 ('Год_Поступления', 'basis'),
 ('Год_Поступления', 'language'),
 ('Год_Поступления', 'country'),
 ('Год_Поступления', 'region'),
 ('Год_Поступления', 'city'),
 ('Год_Поступления', 'parents_country'),
 ('Год_Окончания_УЗ', 'Пособие'),
 ('Год_Окончания_УЗ', 'Общежитие'),
 ('Год_Окончания_УЗ', 'Наличие_Матери'),
 ('Год_Окончания_УЗ', 'Наличие_Отца'),
 ('Год_Окончания_УЗ', 'Опекунство'),
 ('Год_Окончания_УЗ', 'Село'),
 ('Год_Окончания_УЗ', 'Иностранец'),
 ('Год_Окончания_УЗ', 'КодФакультета'),
 ('Год_Окончания_УЗ', 'СрБаллАттестата'),
 ('Год_Окончания_УЗ', 'male'),
 ('Год_Окончания_УЗ', 'female'),
 ('Год_Окончания_УЗ', 'sex_summ'),
 ('Год_Окончания_УЗ', 'birth_year_int'),
 ('Год_Окончания_УЗ', 'basis'),
 ('Год_Окончания_УЗ', 'language'),
 ('Год_Окончания_УЗ', 'country'),
 ('Год_Окончания_УЗ', 'region'),
 ('Год_Окончания_УЗ', 'city'),
 ('Год_Окончания_УЗ', 'parents_country'),
 ('Пособие', 'Общежитие'),
 ('Пособие', 'Наличие_Матери'),
 ('Пособие', 'Наличие_Отца'),
 ('Пособие', 'Опекунство'),
 ('Пособие', 'Село'),
 ('Пособие', 'Иностранец'),
 ('Пособие', 'КодФакультета'),
 ('Пособие', 'СрБаллАттестата'),
 ('Пособие', 'male'),
 ('Пособие', 'female'),
 ('Пособие', 'sex_summ'),
 ('Пособие', 'birth_year_int'),
 ('Пособие', 'basis'),
 ('Пособие', 'language'),
 ('Пособие', 'country'),
 ('Пособие', 'region'),
 ('Пособие', 'city'),
 ('Пособие', 'parents_country'),
 ('Общежитие', 'Наличие_Матери'),
 ('Общежитие', 'Наличие_Отца'),
 ('Общежитие', 'Опекунство'),
 ('Общежитие', 'Село'),
 ('Общежитие', 'Иностранец'),
 ('Общежитие', 'КодФакультета'),
 ('Общежитие', 'СрБаллАттестата'),
 ('Общежитие', 'male'),
 ('Общежитие', 'female'),
 ('Общежитие', 'sex_summ'),
 ('Общежитие', 'birth_year_int'),
 ('Общежитие', 'basis'),
 ('Общежитие', 'language'),
 ('Общежитие', 'country'),
 ('Общежитие', 'region'),
 ('Общежитие', 'city'),
 ('Общежитие', 'parents_country'),
 ('Наличие_Матери', 'Наличие_Отца'),
 ('Наличие_Матери', 'Опекунство'),
 ('Наличие_Матери', 'Село'),
 ('Наличие_Матери', 'Иностранец'),
 ('Наличие_Матери', 'КодФакультета'),
 ('Наличие_Матери', 'СрБаллАттестата'),
 ('Наличие_Матери', 'male'),
 ('Наличие_Матери', 'female'),
 ('Наличие_Матери', 'sex_summ'),
 ('Наличие_Матери', 'birth_year_int'),
 ('Наличие_Матери', 'basis'),
 ('Наличие_Матери', 'language'),
 ('Наличие_Матери', 'country'),
 ('Наличие_Матери', 'region'),
 ('Наличие_Матери', 'city'),
 ('Наличие_Матери', 'parents_country'),
 ('Наличие_Отца', 'Опекунство'),
 ('Наличие_Отца', 'Село'),
 ('Наличие_Отца', 'Иностранец'),
 ('Наличие_Отца', 'КодФакультета'),
 ('Наличие_Отца', 'СрБаллАттестата'),
 ('Наличие_Отца', 'male'),
 ('Наличие_Отца', 'female'),
 ('Наличие_Отца', 'sex_summ'),
 ('Наличие_Отца', 'birth_year_int'),
 ('Наличие_Отца', 'basis'),
 ('Наличие_Отца', 'language'),
 ('Наличие_Отца', 'country'),
 ('Наличие_Отца', 'region'),
 ('Наличие_Отца', 'city'),
 ('Наличие_Отца', 'parents_country'),
 ('Опекунство', 'Село'),
 ('Опекунство', 'Иностранец'),
 ('Опекунство', 'КодФакультета'),
 ('Опекунство', 'СрБаллАттестата'),
 ('Опекунство', 'male'),
 ('Опекунство', 'female'),
 ('Опекунство', 'sex_summ'),
 ('Опекунство', 'birth_year_int'),
 ('Опекунство', 'basis'),
 ('Опекунство', 'language'),
 ('Опекунство', 'country'),
 ('Опекунство', 'region'),
 ('Опекунство', 'city'),
 ('Опекунство', 'parents_country'),
 ('Село', 'Иностранец'),
 ('Село', 'КодФакультета'),
 ('Село', 'СрБаллАттестата'),
 ('Село', 'male'),
 ('Село', 'female'),
 ('Село', 'sex_summ'),
 ('Село', 'birth_year_int'),
 ('Село', 'basis'),
 ('Село', 'language'),
 ('Село', 'country'),
 ('Село', 'region'),
 ('Село', 'city'),
 ('Село', 'parents_country'),
 ('Иностранец', 'КодФакультета'),
 ('Иностранец', 'СрБаллАттестата'),
 ('Иностранец', 'male'),
 ('Иностранец', 'female'),
 ('Иностранец', 'sex_summ'),
 ('Иностранец', 'birth_year_int'),
 ('Иностранец', 'basis'),
 ('Иностранец', 'language'),
 ('Иностранец', 'country'),
 ('Иностранец', 'region'),
 ('Иностранец', 'city'),
 ('Иностранец', 'parents_country'),
 ('КодФакультета', 'СрБаллАттестата'),
 ('КодФакультета', 'male'),
 ('КодФакультета', 'female'),
 ('КодФакультета', 'sex_summ'),
 ('КодФакультета', 'birth_year_int'),
 ('КодФакультета', 'basis'),
 ('КодФакультета', 'language'),
 ('КодФакультета', 'country'),
 ('КодФакультета', 'region'),
 ('КодФакультета', 'city'),
 ('КодФакультета', 'parents_country'),
 ('СрБаллАттестата', 'male'),
 ('СрБаллАттестата', 'female'),
 ('СрБаллАттестата', 'sex_summ'),
 ('СрБаллАттестата', 'birth_year_int'),
 ('СрБаллАттестата', 'basis'),
 ('СрБаллАттестата', 'language'),
 ('СрБаллАттестата', 'country'),
 ('СрБаллАттестата', 'region'),
 ('СрБаллАттестата', 'city'),
 ('СрБаллАттестата', 'parents_country'),
 ('male', 'female'),
 ('male', 'sex_summ'),
 ('male', 'birth_year_int'),
 ('male', 'basis'),
 ('male', 'language'),
 ('male', 'country'),
 ('male', 'region'),
 ('male', 'city'),
 ('male', 'parents_country'),
 ('female', 'sex_summ'),
 ('female', 'birth_year_int'),
 ('female', 'basis'),
 ('female', 'language'),
 ('female', 'country'),
 ('female', 'region'),
 ('female', 'city'),
 ('female', 'parents_country'),
 ('sex_summ', 'birth_year_int'),
 ('sex_summ', 'basis'),
 ('sex_summ', 'language'),
 ('sex_summ', 'country'),
 ('sex_summ', 'region'),
 ('sex_summ', 'city'),
 ('sex_summ', 'parents_country'),
 ('birth_year_int', 'basis'),
 ('birth_year_int', 'language'),
 ('birth_year_int', 'country'),
 ('birth_year_int', 'region'),
 ('birth_year_int', 'city'),
 ('birth_year_int', 'parents_country'),
 ('basis', 'language'),
 ('basis', 'country'),
 ('basis', 'region'),
 ('basis', 'city'),
 ('basis', 'parents_country'),
 ('language', 'country'),
 ('language', 'region'),
 ('language', 'city'),
 ('language', 'parents_country'),
 ('country', 'region'),
 ('country', 'city'),
 ('country', 'parents_country'),
 ('region', 'city'),
 ('region', 'parents_country'),
 ('city', 'parents_country')]

In [91]:
combinations_frame = pd.DataFrame(all_combinations, columns=range(elements_num))
combinations_frame

              0                 1
0    Код_группы   Год_Поступления
1    Код_группы  Год_Окончания_УЗ
2    Код_группы           Пособие
3    Код_группы         Общежитие
4    Код_группы    Наличие_Матери
..          ...               ...
226     country              city
227     country   parents_country
228      region              city
229      region   parents_country
230        city   parents_country

[231 rows x 2 columns]

In [92]:
def itter_from_frame(row):
    frame_columns = row.dropna().to_list() + ['Статус']
    frame_to_train = base_df.loc[:, frame_columns]
    return get_accuracy(frame_to_train)

In [93]:
start, stop = 0, comb_size
combinations_frame.loc[start:stop, 'accuracy'] = combinations_frame.iloc[start:stop, :].apply(itter_from_frame, axis=1)

In [94]:
combinations_frame.head(30)

                  0                 1  accuracy
0        Код_группы   Год_Поступления  0.718183
1        Код_группы  Год_Окончания_УЗ  0.716459
2        Код_группы           Пособие  0.751500
3        Код_группы         Общежитие  0.749646
4        Код_группы    Наличие_Матери  0.760877
5        Код_группы      Наличие_Отца  0.754564
6        Код_группы        Опекунство  0.763686
7        Код_группы              Село  0.733674
8        Код_группы        Иностранец  0.741365
9        Код_группы     КодФакультета  0.754032
10       Код_группы   СрБаллАттестата  0.626269
11       Код_группы              male  0.736632
12       Код_группы            female  0.715851
13       Код_группы          sex_summ  0.740802
14       Код_группы    birth_year_int  0.706253
15       Код_группы             basis  0.709419
16       Код_группы          language  0.724832
17       Код_группы           country  0.749885
18       Код_группы            region  0.739086
19       Код_группы              city  0.698338
20       Код_группы   parents_country  0.738864
21  Год_Поступления  Год_Окончания_УЗ  0.392771
22  Год_Поступления           Пособие  0.293868
23  Год_Поступления         Общежитие  0.332144
24  Год_Поступления    Наличие_Матери  0.335886
25  Год_Поступления      Наличие_Отца  0.347991
26  Год_Поступления        Опекунство  0.331607
27  Год_Поступления              Село  0.355172
28  Год_Поступления        Иностранец  0.346408
29  Год_Поступления     КодФакультета  0.435941

In [95]:
combinations_frame['accuracy'].describe()

count    231.000000
mean       0.356692
std        0.128148
min        0.247861
25%        0.282115
50%        0.331690
75%        0.363967
max        0.763686
Name: accuracy, dtype: float64

In [96]:
rt = combinations_frame.sort_values('accuracy', ascending=False)
rt.to_csv(f'data/combinations/columns_from_{min_col}_to_{elements_num}.csv')

In [97]:
rt.groupby('accuracy').describe()

             0                                 1
         count unique             top freq count unique             top freq
accuracy
0.247861     1      1          female    1     1      1        language    1
0.248441     2      2  Наличие_Матери    1     2      2    Наличие_Отца    1
0.249309     1      1  Наличие_Матери    1     1      1        sex_summ    1
0.249405     1      1         Пособие    1     1      1          female    1
0.249532     1      1         Пособие    1     1      1      Опекунство    1
...        ...    ...             ...  ...   ...    ...             ...  ...
0.751500     1      1      Код_группы    1     1      1         Пособие    1
0.754032     1      1      Код_группы    1     1      1   КодФакультета    1
0.754564     1      1      Код_группы    1     1      1    Наличие_Отца    1
0.760877     1      1      Код_группы    1     1      1  Наличие_Матери    1
0.763686     1      1      Код_группы    1     1      1      Опекунство    1

[223 rows x 8 columns]

In [ ]:
accuracy = {}
for num, columns in enumerate(all_combinations[:100]):
    frame_columns = list(columns)
    frame_columns.append('Статус')
    frame_to_train = base_df.loc[:, frame_columns]
    accuracy[num] = get_accuracy(frame_to_train)
    print(num)
accuracy

In [ ]:
accuracy

In [ ]:
max_index = max(accuracy, key=accuracy.get)
print(max_index, all_combinations[max_index], accuracy[max_index])