In [251]:
import datetime
from pathlib import Path

import matplotlib.pyplot as plt
import matplotlib as mpl
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
import yaml

ССылки на файлы

In [252]:
ASU_dataset = Path('data/test_dataset_test.csv')

Загрузка баового датасета

In [253]:

asu_frame = pd.read_csv(ASU_dataset, encoding='')
asu_frame.head(2)

,ID,Код_группы,Год_Поступления,Пол,Основания,Изучаемый_Язык,Дата_Рождения,Уч_Заведение,Где_Находится_УЗ,Год_Окончания_УЗ,...,Город_ПП,Общежитие,Наличие_Матери,Наличие_Отца,Страна_Родители,Опекунство,Село,Иностранец,КодФакультета,СрБаллАттестата
0,64996,20608,2014,Жен,ДН,Английский язык,1995-11-03 00:00:00.000,"МБОУ ""СОШ №55""","Алтайский край, Барнаул г",2014.0,...,Барнаул г,0.0,0,0.0,Россия,0.0,0.0,0.0,40.0,49.0
1,71837,20613,2015,Жен,ДН,Немецкий язык,1995-12-10 00:00:00.000,"МБОУ ""СОШ №1""","Алтайский край, Рубцовск г",2014.0,...,Барнаул г,0.0,0,0.0,Россия,0.0,1.0,0.0,26.0,77.0

Очистка значений датафрейма

In [254]:
asu_frame['male'] = 0
asu_frame['female'] = 0

asu_frame.loc[asu_frame['Пол'] == 'муж', 'Пол'] = 'Муж'
asu_frame.loc[asu_frame['Пол'] == 'жен', 'Пол'] = 'Жен'

asu_frame.loc[asu_frame['Пол'] == 'Муж', 'male'] = 1
asu_frame.loc[asu_frame['Пол'] == 'Жен', 'female'] = 1
asu_frame['sex_summ'] = asu_frame['male'] + asu_frame['female']
asu_frame.loc[asu_frame['sex_summ'] != 1].shape[0]

3

In [255]:
#asu_frame['birth_year'] = asu_frame['Дата_Рождения'].dt.to_period('Y')
asu_frame['Дата_Рождения']
asu_frame['birth_year'] = pd.to_datetime(asu_frame['Дата_Рождения'])
asu_frame['birth_year'].dt.to_period('Y')
asu_frame['birth_year'].all()

asu_frame['entrance'] = pd.to_datetime(asu_frame['Год_Поступления'], format='%Y')
asu_frame['entrance'].sort_values()

3915   2006-01-01
3871   2007-01-01
5156   2007-01-01
1454   2009-01-01
5141   2009-01-01
          ...
4100   2020-01-01
2328   2020-01-01
2729   2020-01-01
1791   2020-01-01
424    2020-01-01
Name: entrance, Length: 6691, dtype: datetime64[ns]

In [256]:
asu_frame['birth_year_int'] = asu_frame['Дата_Рождения'].str.slice(start=0, stop=4).astype('int64')
asu_frame['birth_year_int']

0       1995
1       1995
2       1973
3       1983
4       1994
        ...
6686    1992
6687    1995
6688    1996
6689    1996
6690    1992
Name: birth_year_int, Length: 6691, dtype: int64

In [257]:
frame_size = asu_frame.shape
frame_size

(6691, 29)

In [258]:
asu_frame.columns

Index([&#39;ID&#39;, &#39;Код_группы&#39;, &#39;Год_Поступления&#39;, &#39;Пол&#39;, &#39;Основания&#39;,
       &#39;Изучаемый_Язык&#39;, &#39;Дата_Рождения&#39;, &#39;Уч_Заведение&#39;, &#39;Где_Находится_УЗ&#39;,
       &#39;Год_Окончания_УЗ&#39;, &#39;Пособие&#39;, &#39;Страна_ПП&#39;, &#39;Регион_ПП&#39;, &#39;Город_ПП&#39;,
       &#39;Общежитие&#39;, &#39;Наличие_Матери&#39;, &#39;Наличие_Отца&#39;, &#39;Страна_Родители&#39;,
       &#39;Опекунство&#39;, &#39;Село&#39;, &#39;Иностранец&#39;, &#39;КодФакультета&#39;, &#39;СрБаллАттестата&#39;,
       &#39;male&#39;, &#39;female&#39;, &#39;sex_summ&#39;, &#39;birth_year&#39;, &#39;entrance&#39;,
       &#39;birth_year_int&#39;],
      dtype=&#39;object&#39;)

In [259]:
asu_frame['Статус'] = 0

In [260]:
asu_frame.groupby('Статус')['СрБаллАттестата'].describe()

         count       mean         std  min   25%   50%   75%     max
Статус
0       6691.0  71.681369  250.386989  0.0  47.0  61.0  76.0  7232.0

In [261]:
asu_frame.groupby('Статус')['Село'].value_counts()

Статус  Село
0       0.0     5170
        1.0     1484
Name: Село, dtype: int64

In [262]:
asu_frame.pivot_table(index='Пол', columns='Статус')

,ID,birth_year_int,female,male,sex_summ,Год_Окончания_УЗ,Год_Поступления,Иностранец,Код_группы,КодФакультета,Наличие_Матери,Наличие_Отца,Общежитие,Опекунство,Пособие,Село,СрБаллАттестата
Статус,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Пол,,,,,,,,,,,,,,,,,
Жен,69852.612579,1993.969560,1,0,1,2013.759388,2014.925786,0.059759,18300.450566,33.318239,0.499119,0.498868,0.219722,0.000503,0.0,0.238938,72.881648
Муж,70708.725028,1994.086251,0,1,1,2013.861066,2015.088463,0.086499,18327.166605,31.448950,0.504607,0.503502,0.227947,0.001474,0.0,0.199926,69.960004

In [263]:
graduate = asu_frame.loc[asu_frame['Статус'] == 4]['Статус'].count()
expelled = asu_frame.loc[asu_frame['Статус'] == 3]['Статус'].count()
vacation = asu_frame.loc[asu_frame['Статус'] == -1]['Статус'].count()
all_students = frame_size[0]
delta = all_students - graduate - expelled - vacation
f'Всего позиций {all_students} закончили ВУЗ {graduate}, отчислено {expelled}, каникулы {vacation}. Отклонение по сумме {delta}'

&#39;Всего позиций 6691 закончили ВУЗ 0, отчислено 0, каникулы 0. Отклонение по сумме 6691&#39;

In [264]:
graduate_frame = asu_frame.loc[asu_frame['Статус'] == 4]
graduate_frame

Empty DataFrame
Columns: [ID, Код_группы, Год_Поступления, Пол, Основания, Изучаемый_Язык, Дата_Рождения, Уч_Заведение, Где_Находится_УЗ, Год_Окончания_УЗ, Пособие, Страна_ПП, Регион_ПП, Город_ПП, Общежитие, Наличие_Матери, Наличие_Отца, Страна_Родители, Опекунство, Село, Иностранец, КодФакультета, СрБаллАттестата, male, female, sex_summ, birth_year, entrance, birth_year_int, Статус]
Index: []

[0 rows x 30 columns]

In [265]:
def doly(x):
    
    gh = x['ID'].count() / frame_size[0]
    print(gh)
    return gh

asu_frame.groupby(['Пол', 'Статус']).apply(doly)

0.5940816021521447
0.40547003437453294

Пол  Статус
Жен  0         0.594082
Муж  0         0.405470
dtype: float64

In [266]:
asu_frame.loc[asu_frame['СрБаллАттестата'] < 5].groupby(asu_frame['birth_year'].dt.to_period('Y'))['entrance'].describe()

           count unique        top freq      first       last
birth_year
1948           1      1 2015-01-01    1 2015-01-01 2015-01-01
1969           1      1 2013-01-01    1 2013-01-01 2013-01-01
1975           1      1 2014-01-01    1 2014-01-01 2014-01-01
1977           2      2 2015-01-01    1 2013-01-01 2015-01-01
1978           1      1 2013-01-01    1 2013-01-01 2013-01-01
1979           1      1 2015-01-01    1 2015-01-01 2015-01-01
1980           1      1 2013-01-01    1 2013-01-01 2013-01-01
1981           1      1 2014-01-01    1 2014-01-01 2014-01-01
1982           1      1 2015-01-01    1 2015-01-01 2015-01-01
1985           2      2 2013-01-01    1 2013-01-01 2014-01-01
1986           1      1 2017-01-01    1 2017-01-01 2017-01-01
1987           5      4 2014-01-01    2 2013-01-01 2016-01-01
1988           4      4 2015-01-01    1 2013-01-01 2016-01-01
1989           9      5 2014-01-01    3 2013-01-01 2017-01-01
1990           9      4 2015-01-01    3 2013-01-01 2016-01-01
1991          17      5 2015-01-01    6 2013-01-01 2018-01-01
1992          11      5 2013-01-01    4 2013-01-01 2020-01-01
1993          13      5 2014-01-01    5 2011-01-01 2016-01-01
1994          19      5 2014-01-01    6 2013-01-01 2017-01-01
1995          34      6 2014-01-01   16 2012-01-01 2018-01-01
1996          80      7 2014-01-01   54 2013-01-01 2019-01-01
1997         105      5 2015-01-01   51 2013-01-01 2017-01-01
1998         136      6 2016-01-01   69 2013-01-01 2018-01-01
1999         127      5 2017-01-01   64 2014-01-01 2018-01-01
2000         123      7 2018-01-01   51 2012-01-01 2020-01-01
2001          65      4 2017-01-01   43 2016-01-01 2019-01-01
2002          34      4 2018-01-01   17 2017-01-01 2020-01-01
2003          10      3 2019-01-01    6 2018-01-01 2020-01-01
2004           4      2 2020-01-01    3 2019-01-01 2020-01-01
2005           1      1 2020-01-01    1 2020-01-01 2020-01-01

In [267]:
old_year = datetime.datetime.strptime('1986', '%Y')
asu_frame.loc[(asu_frame['birth_year'] < old_year) & (asu_frame['СрБаллАттестата'] > 20)]

,ID,Код_группы,Год_Поступления,Пол,Основания,Изучаемый_Язык,Дата_Рождения,Уч_Заведение,Где_Находится_УЗ,Год_Окончания_УЗ,...,Иностранец,КодФакультета,СрБаллАттестата,male,female,sex_summ,birth_year,entrance,birth_year_int,Статус
2,86587,21210,2018,Жен,ОО,Английский язык,1973-08-09 00:00:00.000,Алтайский государственный медицинский университет,"Алтайский край, г. Барнаул",1997.0,...,0.0,34.0,74.0,0,1,1,1973-08-09,2018-01-01,1973,0
3,73673,22254,2015,Жен,ОО,Английский язык,1983-12-07 00:00:00.000,"ГОУ ВПО ""Алтайский государственный университет""","Алтайский край, Барнаул г",2006.0,...,0.0,53.0,57.0,0,1,1,1983-12-07,2015-01-01,1983,0
6,77774,18616,2016,Жен,СН,Английский язык,1981-11-30 00:00:00.000,Бийский педагогический государственный универс...,"Россия, Алтайский край, г Бийск",2003.0,...,0.0,26.0,56.0,0,1,1,1981-11-30,2016-01-01,1981,0
20,75272,21670,2016,Жен,БН,Английский язык,1981-03-09 00:00:00.000,Барнаульский государственный педагогический ун...,"Россия, Алтайский край, г Барнаул",2003.0,...,0.0,51.0,94.0,0,1,1,1981-03-09,2016-01-01,1981,0
39,58345,15234,2013,Муж,ОО,Немецкий язык,1984-02-14 00:00:00.000,МОСШ с. Березовка Солонешенского района,с. Березовка Солонешенского района,2001.0,...,0.0,48.0,46.0,1,0,1,1984-02-14,2013-01-01,1984,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6608,86325,21005,2018,Жен,БН,Английский язык,1971-10-14 00:00:00.000,Восточный гуманитарный институт,"Казахстан, Восточно-Казахстанская область, г. ...",2003.0,...,1.0,27.0,73.0,0,1,1,1971-10-14,2018-01-01,1971,0
6614,86326,21005,2018,Муж,ОО,Английский язык,1960-03-15 00:00:00.000,Алтайский государственный университет,"Алтайский край, г. Барнаул",1982.0,...,0.0,27.0,99.0,1,0,1,1960-03-15,2018-01-01,1960,0
6657,70541,17380,2015,Жен,ОО,Немецкий язык,1973-08-01 00:00:00.000,Алтайский государственный университет,"Алтайский край, Барнаул г",1995.0,...,0.0,31.0,85.0,0,1,1,1973-08-01,2015-01-01,1973,0
6673,58310,15233,2013,Муж,ОО,Английский язык,1985-11-25 00:00:00.000,КГОШ,г. Барнаул Алтайский край,2003.0,...,0.0,48.0,43.0,1,0,1,1985-11-25,2013-01-01,1985,0
6680,78563,19612,2016,Муж,ДН,Английский язык,1977-08-01 00:00:00.000,Алтайский государственный аграрный университет,"Россия, Алтайский край, г.Барнаул",2000.0,...,0.0,26.0,72.0,1,0,1,1977-08-01,2016-01-01,1977,0

In [268]:
old_year = datetime.datetime.strptime('2004', "%Y")

In [269]:
asu_frame.groupby('Код_группы')['ID'].count().max()

15

# Очистка первичного фрейма

In [270]:
clean_frame = pd.DataFrame()

In [271]:
clean_frame = asu_frame.copy()

In [272]:
clean_frame.loc[clean_frame['Основания'] == 'ЛН', 'Основания'] = 'ДН'
clean_frame.groupby('Основания')['ID'].count()

Основания
БН     873
ДН     973
ОО    2565
СН    2177
ЦН     103
Name: ID, dtype: int64

Колонка иностранный язык

In [273]:
clean_frame.loc[clean_frame['Изучаемый_Язык'].isnull(), 'Изучаемый_Язык'] = '-'
clean_frame.loc[clean_frame['Изучаемый_Язык'] == 'Англиийский', 'Изучаемый_Язык'] = 'Английский язык'
clean_frame.loc[clean_frame['Изучаемый_Язык'] == 'Иностранный язык (Английский)', 'Изучаемый_Язык'] = 'Английский язык'
clean_frame.loc[clean_frame['Изучаемый_Язык'] == 'Английский, немецкий языки', 'Изучаемый_Язык'] = 'Английский язык'
clean_frame.loc[clean_frame['Изучаемый_Язык'] == 'Иностранный язык (Немецкий)', 'Изучаемый_Язык'] = 'Немецкий язык'
clean_frame.loc[clean_frame['Изучаемый_Язык'] == 'Русский язык', 'Изучаемый_Язык'] = '-'
clean_frame.groupby('Изучаемый_Язык')['ID'].count()

Изучаемый_Язык
-                    397
Английский язык     5219
Немецкий язык       1047
Французский язык      28
Name: ID, dtype: int64

In [274]:
clean_frame.loc[clean_frame['Пол'].isnull(), 'Пол'] = '-'
clean_frame.groupby('Пол')['ID'].count()

Пол
-         3
Жен    3975
Муж    2713
Name: ID, dtype: int64

In [275]:
clean_frame.loc[clean_frame['Пол'] == '-']

,ID,Код_группы,Год_Поступления,Пол,Основания,Изучаемый_Язык,Дата_Рождения,Уч_Заведение,Где_Находится_УЗ,Год_Окончания_УЗ,...,Иностранец,КодФакультета,СрБаллАттестата,male,female,sex_summ,birth_year,entrance,birth_year_int,Статус
2887,73077,16010,2015,-,СН,Английский язык,1993-02-15 00:00:00.000,средняя школа № 1 городского округа Хэган,"Китай, Хэйхэ г",2013.0,...,1.0,51.0,36.0,0,0,0,1993-02-15,2015-01-01,1993,0
3545,73286,17194,2015,-,СН,Английский язык,1995-01-20 00:00:00.000,"СШ ""Пингун""","Китай, Харбин г",2015.0,...,1.0,24.0,38.0,0,0,0,1995-01-20,2015-01-01,1995,0
4326,78542,18499,2016,-,СН,Английский язык,1995-08-23 00:00:00.000,СШ №3 уезда Юйчжоу,"Китай, провинция Хэнань, г Уезд Юйчжоу",2014.0,...,1.0,24.0,40.0,0,0,0,1995-08-23,2016-01-01,1995,0

In [276]:
clean_frame.loc[clean_frame['Уч_Заведение'].isnull(), 'Уч_Заведение'] = '-'
clean_frame.groupby('Уч_Заведение')['ID'].count()

Уч_Заведение
-                                                           578
АГТУ им.И.И.Ползунова                                         1
АГТУ им.Ползунова                                             1
АГУ СПО                                                       1
АКПЛ                                                          1
                                                           ...
школа Дуньсия                                                 1
школа иностранных языков города Цзинань                       1
школа-гимназия №4 г. Майлуу-Суу                               1
школа-гимназия №4 им. С.М. Кирова                             1
школа-гимназия №5 им. Бекмамата Осмонова гор. Жалал-Абад      1
Name: ID, Length: 2245, dtype: int64

In [277]:
clean_frame.loc[clean_frame['Где_Находится_УЗ'].isnull(), 'Где_Находится_УЗ'] = '-'

In [278]:
clean_frame.loc[clean_frame['Пособие'].isnull(), 'Пособие'] = 0
clean_frame.groupby('Пособие')['ID'].count()

Пособие
0.0    6691
Name: ID, dtype: int64

In [279]:
clean_frame.loc[clean_frame['Город_ПП'].isnull(), 'Город_ПП'] = '-'

In [280]:
clean_frame.loc[clean_frame['Регион_ПП'].isnull(), 'Регион_ПП'] = '-'
clean_frame.groupby('Регион_ПП')['ID'].count()

Регион_ПП
-                      290
Алайский край           18
Алматинская обл          6
Алматинская область      1
Алтай Респ              76
                      ...
пров. Цзилинь            1
пров. Цзянси             1
пров. Шаньдун            1
провинция Хайнань        8
провинция Цзунци         1
Name: ID, Length: 134, dtype: int64

In [281]:
clean_frame.loc[clean_frame['Страна_ПП'].isnull(), 'Страна_ПП'] = '-'
clean_frame.loc[clean_frame['Страна_ПП'] == 'Афганистан', 'Страна_ПП'] = '-'
clean_frame.loc[clean_frame['Страна_ПП'] == 'Кыргызия', 'Страна_ПП'] = 'Кыргызская Республика'
clean_frame.loc[clean_frame['Страна_ПП'] == 'Киргизия', 'Страна_ПП'] = 'Кыргызская Республика'
clean_frame.loc[clean_frame['Страна_ПП'] == 'Кыргызстан', 'Страна_ПП'] = 'Кыргызская Республика'

clean_frame.loc[clean_frame['Страна_ПП'] == 'Казахстан', 'Страна_ПП'] = 'Республика Казахстан'
clean_frame.loc[clean_frame['Страна_ПП'] == 'Казахстан ВКО', 'Страна_ПП'] = 'Республика Казахстан'
clean_frame.loc[clean_frame['Страна_ПП'] == 'Казахстан Респ', 'Страна_ПП'] = 'Республика Казахстан'
clean_frame.loc[clean_frame['Страна_ПП'] == 'Казахстан респ', 'Страна_ПП'] = 'Республика Казахстан'
clean_frame.loc[clean_frame['Страна_ПП'] == 'КАЗАХСТАН', 'Страна_ПП'] = 'Республика Казахстан'

clean_frame.loc[clean_frame['Страна_ПП'] == 'Таджикистан', 'Страна_ПП'] = 'Республика Таджикистан'
clean_frame.loc[clean_frame['Страна_ПП'] == 'Таджикистан Респ', 'Страна_ПП'] = 'Республика Таджикистан'

clean_frame.loc[clean_frame['Страна_ПП'] == 'РОССИЯ', 'Страна_ПП'] = 'Россия'
clean_frame.loc[clean_frame['Страна_ПП'] == 'Росссия', 'Страна_ПП'] = 'Россия'

clean_frame.loc[clean_frame['Страна_ПП'] == 'КИТАЙ', 'Страна_ПП'] = 'Китай'


russia_city = ['Барнаул', 'г. Барнаул' , 'Славгород', 'Рубцовск', 'Г.Барнаул', 'Г. Новоалтайск', 'Бийск', 'Белокуриха', 'Барнаул г', 'Новоалтайск', 'Благовещенка РП', 'с. Подсосново', 'Среднекрасилово с', 'с. Повалиха']
clean_frame.loc[(clean_frame['Страна_ПП'] == '-') & (clean_frame['Город_ПП'].isin(russia_city)), ['Страна_ПП']] = 'Россия'
turkmen_city = ['Туркменабат']
clean_frame.loc[(clean_frame['Страна_ПП'] == '-') & (clean_frame['Город_ПП'].isin(turkmen_city)), ['Страна_ПП']] = 'Туркменистан'

clean_frame.loc[(clean_frame['Страна_ПП'] == '-') & (clean_frame['Регион_ПП'] == 'Хайнань пров'), 'Страна_ПП'] = 'Китай'

clean_frame.loc[(clean_frame['Страна_ПП'] == '-') & (clean_frame['Страна_Родители'] == 'Россия'), 'Страна_ПП'] = 'Россия'
clean_frame.loc[(clean_frame['Страна_ПП'] == '-') & (clean_frame['Страна_Родители'] == 'Республика Казахстан'), 'Страна_ПП'] = 'Республика Казахстан'
clean_frame.loc[(clean_frame['Страна_ПП'] == '-') & (clean_frame['Страна_Родители'] == 'Республика Таджикистан'), 'Страна_ПП'] = 'Республика Таджикистан'

clean_frame.loc[(clean_frame['Страна_ПП'] == '-') & (clean_frame['Где_Находится_УЗ'].str.contains('россия', case=False)), 'Страна_ПП'] = 'Россия'
clean_frame.loc[(clean_frame['Страна_ПП'] == '-') & (clean_frame['Где_Находится_УЗ'].str.contains('барнаул', case=False)), 'Страна_ПП'] = 'Россия'
clean_frame.loc[(clean_frame['Страна_ПП'] == '-') & (clean_frame['Где_Находится_УЗ'].str.contains('москва', case=False)), 'Страна_ПП'] = 'Россия'
clean_frame.loc[(clean_frame['Страна_ПП'] == '-') & (clean_frame['Где_Находится_УЗ'].str.contains('рубцовск', case=False)), 'Страна_ПП'] = 'Россия'
clean_frame.loc[(clean_frame['Страна_ПП'] == '-') & (clean_frame['Где_Находится_УЗ'].str.contains('славгород', case=False)), 'Страна_ПП'] = 'Россия'

clean_frame.loc[(clean_frame['Страна_ПП'] == '-') & (clean_frame['Уч_Заведение'].str.contains('АлтГУ', case=False)), 'Страна_ПП'] = 'Россия'
clean_frame.loc[(clean_frame['Страна_ПП'] == '-') & (clean_frame['Уч_Заведение'].str.contains('островского', case=False)), 'Страна_ПП'] = 'Республика Казахстан'
russia_school = ['ГКУ СОШ №9', 'ГОУ лицей №3', 'КГУ "СОШ №3"']
clean_frame.loc[(clean_frame['Страна_ПП'] == '-') & (clean_frame['Уч_Заведение'].isin(russia_school)), ['Страна_ПП']] = 'Россия'


clean_frame.groupby('Страна_ПП')['ID'].count()

Страна_ПП
-                           81
Китай                       82
Кыргызская Республика       37
Монголия                     1
Республика Казахстан       203
Республика Таджикистан      42
Россия                    6240
Туркменистан                 1
Узбекистан                   4
Name: ID, dtype: int64

In [313]:
clean_frame.loc[(clean_frame['Страна_ПП'] == '-') & (clean_frame['Страна_Родители'] != '-'), ['Регион_ПП', 'Город_ПП', 'Страна_Родители']]

          Регион_ПП   Город_ПП
434  Чарей Марастун  Нангархан

In [284]:
clean_frame.loc[clean_frame['Город_ПП'].isnull(), 'Город_ПП'] = '-'

In [285]:
clean_frame.loc[clean_frame['Общежитие'].isnull(), 'Общежитие'] = 0
clean_frame.groupby('Общежитие')['ID'].count()

Общежитие
0.0    5204
1.0    1487
Name: ID, dtype: int64

In [286]:
clean_frame.loc[clean_frame['Страна_Родители'].isnull(), 'Страна_Родители'] = '-'
clean_frame.loc[clean_frame['Страна_Родители'] == 'Афганистан', 'Страна_Родители'] = '-'

clean_frame.loc[clean_frame['Страна_Родители'] == 'Кыргызия', 'Страна_Родители'] = 'Кыргызская Республика'
clean_frame.loc[clean_frame['Страна_Родители'] == 'Киргизия', 'Страна_Родители'] = 'Кыргызская Республика'
clean_frame.loc[clean_frame['Страна_Родители'] == 'Кыргызстан', 'Страна_Родители'] = 'Кыргызская Республика'

clean_frame.loc[clean_frame['Страна_Родители'] == 'Казахстан', 'Страна_Родители'] = 'Республика Казахстан'
clean_frame.loc[clean_frame['Страна_Родители'] == 'Казахстан ВКО', 'Страна_Родители'] = 'Республика Казахстан'
clean_frame.loc[clean_frame['Страна_Родители'] == 'Казахстан Респ', 'Страна_Родители'] = 'Республика Казахстан'
clean_frame.loc[clean_frame['Страна_Родители'] == 'Казахстан респ', 'Страна_Родители'] = 'Республика Казахстан'
clean_frame.loc[clean_frame['Страна_Родители'] == 'КАЗАХСТАН', 'Страна_Родители'] = 'Республика Казахстан'

clean_frame.loc[clean_frame['Страна_Родители'] == 'Таджикистан', 'Страна_Родители'] = 'Республика Таджикистан'
clean_frame.loc[clean_frame['Страна_Родители'] == 'Таджикистан Респ', 'Страна_Родители'] = 'Республика Таджикистан'

clean_frame.loc[clean_frame['Страна_Родители'] == 'РОССИЯ', 'Страна_Родители'] = 'Россия'
clean_frame.loc[clean_frame['Страна_Родители'] == 'Росссия', 'Страна_Родители'] = 'Россия'
clean_frame.loc[clean_frame['Страна_Родители'] == 'Чеченская республика', 'Страна_Родители'] = 'Россия'

clean_frame.loc[clean_frame['Страна_Родители'] == 'КИТАЙ', 'Страна_Родители'] = 'Китай'

clean_frame.loc[(clean_frame['Страна_Родители'] == '-') & (clean_frame['Страна_ПП'] != '-'), 'Страна_Родители'] = clean_frame.loc[(clean_frame['Страна_Родители'] == '-') & (clean_frame['Страна_ПП'] != '-'), 'Страна_ПП']

clean_frame.groupby('Страна_Родители')['ID'].count()

Страна_Родители
-                           80
Китай                       83
Кыргызская Республика       42
Монголия                     1
Республика Казахстан       241
Республика Таджикистан      46
Россия                    6193
Туркменистан                 2
Узбекистан                   3
Name: ID, dtype: int64

In [287]:
clean_frame.loc[clean_frame['Опекунство'].isnull()]
clean_frame.groupby('Опекунство')['ID'].count()

Опекунство
0.0    6685
1.0       6
Name: ID, dtype: int64

In [288]:

clean_frame.loc[(clean_frame['Село'].isnull()) & (~clean_frame['Город_ПП'].isin(['Барнаул', 'Барнаул г',])), 'Село'] = 1
clean_frame.loc[(clean_frame['Село'].isnull()) & (clean_frame['Город_ПП'].isin(['Барнаул', 'Барнаул г',])), 'Село'] = 0
clean_frame.loc[(clean_frame['Село'].isnull())]
clean_frame.groupby('Село')['ID'].count()

Село
0.0    5178
1.0    1513
Name: ID, dtype: int64

In [289]:

clean_frame.loc[(clean_frame['Иностранец'].isnull()) & (~clean_frame['Иностранец'].isin(['Россия'])), 'Иностранец'] = 1
clean_frame.loc[(clean_frame['Иностранец'].isnull()) & (clean_frame['Иностранец'].isin(['Россия'])), 'Иностранец'] = 0
clean_frame.loc[(clean_frame['Иностранец'].isnull())]
clean_frame.groupby('Иностранец')['ID'].count()

Иностранец
0.0    6095
1.0     596
Name: ID, dtype: int64

In [290]:
clean_frame.loc[(clean_frame['КодФакультета'].isnull())]
clean_frame.groupby('КодФакультета')['ID'].count()

КодФакультета
24.0     356
25.0    1060
26.0    1335
27.0     384
28.0     314
30.0     211
31.0     280
34.0     456
35.0     275
36.0     220
37.0       1
40.0     223
41.0     741
45.0      50
46.0      16
47.0      60
48.0     114
49.0      41
51.0     550
53.0       4
Name: ID, dtype: int64

In [291]:
clean_frame.loc[(clean_frame['КодФакультета'].isnull())]

Empty DataFrame
Columns: [ID, Код_группы, Год_Поступления, Пол, Основания, Изучаемый_Язык, Дата_Рождения, Уч_Заведение, Где_Находится_УЗ, Год_Окончания_УЗ, Пособие, Страна_ПП, Регион_ПП, Город_ПП, Общежитие, Наличие_Матери, Наличие_Отца, Страна_Родители, Опекунство, Село, Иностранец, КодФакультета, СрБаллАттестата, male, female, sex_summ, birth_year, entrance, birth_year_int, Статус]
Index: []

[0 rows x 30 columns]

In [292]:
clean_frame.loc[(clean_frame['СрБаллАттестата'].isnull())]
big_atestat = clean_frame.loc[clean_frame['СрБаллАттестата'] > 100, 'ID'].to_list()
small_atestat = clean_frame.loc[clean_frame['СрБаллАттестата'] < 5, 'ID'].to_list()
#clean_frame.loc[clean_frame['СрБаллАттестата'] > 100, 'СрБаллАттестата'] = clean_frame.loc[clean_frame['СрБаллАттестата'] > 100, 'СрБаллАттестата'] / 100
#clean_frame.loc[clean_frame['СрБаллАттестата'] > 100, 'СрБаллАттестата']
clean_frame.loc[clean_frame['ID'].isin(big_atestat), 'СрБаллАттестата']

614     5000.0
805     4118.0
1520     787.0
1651    1040.0
1686    2468.0
1789    4400.0
1988    4846.0
2154    3688.0
2698    4350.0
2729    4764.0
2812    4053.0
3191    4286.0
3399    3940.0
3505    2506.0
3788    5000.0
4073    7232.0
4239    3600.0
4528    3444.0
4889    4533.0
4966    3400.0
5342    4947.0
5355    5000.0
5432    4928.0
6503    3866.0
Name: СрБаллАттестата, dtype: float64

In [293]:
clean_frame.loc[(clean_frame['Статус'].isnull())]

Empty DataFrame
Columns: [ID, Код_группы, Год_Поступления, Пол, Основания, Изучаемый_Язык, Дата_Рождения, Уч_Заведение, Где_Находится_УЗ, Год_Окончания_УЗ, Пособие, Страна_ПП, Регион_ПП, Город_ПП, Общежитие, Наличие_Матери, Наличие_Отца, Страна_Родители, Опекунство, Село, Иностранец, КодФакультета, СрБаллАттестата, male, female, sex_summ, birth_year, entrance, birth_year_int, Статус]
Index: []

[0 rows x 30 columns]

In [294]:
clean_frame.groupby('СрБаллАттестата')['ID'].count()

СрБаллАттестата
0.000       1
3.000       4
3.052       1
3.067       1
3.100       2
           ..
4846.000    1
4928.000    1
4947.000    1
5000.000    3
7232.000    1
Name: ID, Length: 343, dtype: int64

In [295]:
asu_frame.columns

Index([&#39;ID&#39;, &#39;Код_группы&#39;, &#39;Год_Поступления&#39;, &#39;Пол&#39;, &#39;Основания&#39;,
       &#39;Изучаемый_Язык&#39;, &#39;Дата_Рождения&#39;, &#39;Уч_Заведение&#39;, &#39;Где_Находится_УЗ&#39;,
       &#39;Год_Окончания_УЗ&#39;, &#39;Пособие&#39;, &#39;Страна_ПП&#39;, &#39;Регион_ПП&#39;, &#39;Город_ПП&#39;,
       &#39;Общежитие&#39;, &#39;Наличие_Матери&#39;, &#39;Наличие_Отца&#39;, &#39;Страна_Родители&#39;,
       &#39;Опекунство&#39;, &#39;Село&#39;, &#39;Иностранец&#39;, &#39;КодФакультета&#39;, &#39;СрБаллАттестата&#39;,
       &#39;male&#39;, &#39;female&#39;, &#39;sex_summ&#39;, &#39;birth_year&#39;, &#39;entrance&#39;,
       &#39;birth_year_int&#39;, &#39;Статус&#39;],
      dtype=&#39;object&#39;)

In [296]:
columns_to_csv = ['Год_Поступления', 'Пол', 'Основания', 'Изучаемый_Язык', 'Дата_Рождения', 'Страна_ПП', 'Общежитие', 'Наличие_Матери', 'Наличие_Отца', 'Страна_Родители',
       'Опекунство', 'Село', 'Иностранец', 'КодФакультета', 'СрБаллАттестата',
       'Статус', 'male', 'female', 'sex_summ', 'birth_year', 'entrance']

In [297]:
clean_frame.columns[clean_frame.isna().any()].tolist()

[&#39;Год_Окончания_УЗ&#39;]

In [298]:
clean_frame.loc[:, ['Основания', 'male', 'female']].head(10)

  Основания  male  female
0        ДН     0       1
1        ДН     0       1
2        ОО     0       1
3        ОО     0       1
4        ОО     0       1
5        ОО     0       1
6        СН     0       1
7        ОО     0       1
8        ДН     0       1
9        БН     0       1

# Составление справочников кодов для текстовых колонок

In [299]:
clean_frame.info()

&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;
RangeIndex: 6691 entries, 0 to 6690
Data columns (total 30 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                6691 non-null   int64
 1   Код_группы        6691 non-null   int64
 2   Год_Поступления   6691 non-null   int64
 3   Пол               6691 non-null   object
 4   Основания         6691 non-null   object
 5   Изучаемый_Язык    6691 non-null   object
 6   Дата_Рождения     6691 non-null   object
 7   Уч_Заведение      6691 non-null   object
 8   Где_Находится_УЗ  6691 non-null   object
 9   Год_Окончания_УЗ  6074 non-null   float64
 10  Пособие           6691 non-null   float64
 11  Страна_ПП         6691 non-null   object
 12  Регион_ПП         6691 non-null   object
 13  Город_ПП          6691 non-null   object
 14  Общежитие         6691 non-null   float64
 15  Наличие_Матери    6691 non-null   int64
 16  Наличие_Отца      6691 non-null   float64
 17  Страна_Родители   6691 non-null   object
 18  Опекунство        6691 non-null   float64
 19  Село              6691 non-null   float64
 20  Иностранец        6691 non-null   float64
 21  КодФакультета     6691 non-null   float64
 22  СрБаллАттестата   6691 non-null   float64
 23  male              6691 non-null   int64
 24  female            6691 non-null   int64
 25  sex_summ          6691 non-null   int64
 26  birth_year        6691 non-null   datetime64[ns]
 27  entrance          6691 non-null   datetime64[ns]
 28  birth_year_int    6691 non-null   int64
 29  Статус            6691 non-null   int64
dtypes: datetime64[ns](2), float64(9), int64(9), object(10)
memory usage: 1.3+ MB

In [300]:
# проверка полноты формирования спика колонок по форматам
non_digit_columns_num = clean_frame.dtypes[(clean_frame.dtypes == "datetime64[ns]") | (clean_frame.dtypes == "object")].count()
digit_columns_num = clean_frame.dtypes[(clean_frame.dtypes == "int64") | (clean_frame.dtypes == "float64")].count()
clean_frame.shape[1] - (non_digit_columns_num + digit_columns_num)

0

In [301]:
# список не числовых колонок
non_digit_columns = clean_frame.dtypes[(clean_frame.dtypes == "datetime64[ns]") | (clean_frame.dtypes == "object")].index.to_list()
non_digit_columns

[&#39;Пол&#39;,
 &#39;Основания&#39;,
 &#39;Изучаемый_Язык&#39;,
 &#39;Дата_Рождения&#39;,
 &#39;Уч_Заведение&#39;,
 &#39;Где_Находится_УЗ&#39;,
 &#39;Страна_ПП&#39;,
 &#39;Регион_ПП&#39;,
 &#39;Город_ПП&#39;,
 &#39;Страна_Родители&#39;,
 &#39;birth_year&#39;,
 &#39;entrance&#39;]

In [302]:
# список числовых колонок

digit_columns = clean_frame.dtypes[(clean_frame.dtypes == "int64") | (clean_frame.dtypes == "float64")].index.to_list()
digit_columns

[&#39;ID&#39;,
 &#39;Код_группы&#39;,
 &#39;Год_Поступления&#39;,
 &#39;Год_Окончания_УЗ&#39;,
 &#39;Пособие&#39;,
 &#39;Общежитие&#39;,
 &#39;Наличие_Матери&#39;,
 &#39;Наличие_Отца&#39;,
 &#39;Опекунство&#39;,
 &#39;Село&#39;,
 &#39;Иностранец&#39;,
 &#39;КодФакультета&#39;,
 &#39;СрБаллАттестата&#39;,
 &#39;male&#39;,
 &#39;female&#39;,
 &#39;sex_summ&#39;,
 &#39;birth_year_int&#39;,
 &#39;Статус&#39;]

In [303]:
with open('data/codes.yaml', 'r') as file:
    codes_rule = yaml.load(file, Loader=yaml.FullLoader)
codes_rule

  &#39;Западный Угол с&#39;: 359,
  &#39;Заречное с&#39;: 360,
  &#39;Заречный п&#39;: 361,
  &#39;Заринск&#39;: 362,
  &#39;Заринск г&#39;: 363,
  &#39;Заря п&#39;: 364,
  &#39;Зафарабад&#39;: 365,
  &#39;Зеленая Поляна с&#39;: 366,
  &#39;Зеленоград&#39;: 367,
  &#39;Зеленый Дол с&#39;: 368,
  &#39;Зелёная Поляна с&#39;: 369,
  &#39;Зима г&#39;: 370,
  &#39;Зимари с&#39;: 371,
  &#39;Зимино с&#39;: 372,
  &#39;Зимник д&#39;: 373,
  &#39;Златополь с&#39;: 374,
  &#39;Златоуст г&#39;: 375,
  &#39;Змеиногорск&#39;: 376,
  &#39;Змеиногорск г&#39;: 377,
  &#39;Знаменка с&#39;: 378,
  &#39;Золотуха с&#39;: 379,
  &#39;Зональное с&#39;: 380,
  &#39;Зудилово&#39;: 381,
  &#39;Зудилово с&#39;: 382,
  &#39;Зырянка п&#39;: 383,
  &#39;Зыряновск&#39;: 384,
  &#39;Зыряновск г&#39;: 385,
  &#39;Ивановка с&#39;: 386,
  &#39;Ильинка с&#39;: 387,
  &#39;Инин г&#39;: 388,
  &#39;Инкоу&#39;: 389,
  &#39;Инта г.&#39;: 390,
  &#39;Иня с&#39;: 391,
  &#39;Иогач с&#39;: 392,
  &#39;Искра п&#39;: 393,
  &#39;Истаравшан&#39;: 394,
  &#39;Истимис с&#39;: 395,
  &#39;Исфана&#39;: 396,
  &#39;Исфара г&#39;: 397,
  &#39;Ичунь&#39;: 398,
  &#39;Ишимбай г&#39;: 399,
  &#39;Йонко&#39;: 400,
  &#39;Каа-Хем пгт&#39;: 401,
  &#39;Кабаково с&#39;: 402,
  &#39;Кадамжай с&#39;: 403,
  &#39;Казачий п&#39;: 404,
  &#39;Казенная Заимка п&#39;: 405,
  &#39;Казенная Заимка п.&#39;: 406,
  &#39;Казыбек с&#39;: 407,
  &#39;Кайырма-Арык&#39;: 408,
  &#39;Калиновка п&#39;: 409,
  &#39;Калистратиха с&#39;: 410,
  &#39;Калманка&#39;: 411,
  &#39;Калманка с&#39;: 412,
  &#39;Калмыцкие Мысы с&#39;: 413,
  &#39;Калтан&#39;: 414,
  &#39;Каменушка п&#39;: 415,
  &#39;Камень-на- Оби&#39;: 416,
  &#39;Камень-на-Оби&#39;: 417,
  &#39;Камень-на-Оби г&#39;: 418,
  &#39;Камень-на-Оби г, Плотинная ст&#39;: 419,
  &#39;Камышенка с&#39;: 420,
  &#39;Камыши с&#39;: 421,
  &#39;Камышинка с.&#39;: 422,
  &#39;Канибадам&#39;: 423,
  &#39;Канск г&#39;: 424,
  &#39;Карабинка с&#39;: 425,
  &#39;Карагай с&#39;: 426,
  &#39;Караганда&#39;: 427,
  &#39;Каракокша с&#39;: 428,
  &#39;Каракол&#39;: 429,
  &#39;Карамышево с&#39;: 430,
  &#39;Карасук&#39;: 431,
  &#39;Каркавино с&#39;: 432,
  &#39;Карлушка п&#39;: 433,
  &#39;Карпово второе с&#39;: 434,
  &#39;Карпово с&#39;: 435,
  &#39;Карповский п&#39;: 436,
  &#39;Каскелен&#39;: 437,
  &#39;Касли&#39;: 438,
  &#39;Касмалинка с&#39;: 439,
  &#39;Катанда с&#39;: 440,
  &#39;Катунское с&#39;: 441,
  &#39;Качусово п&#39;: 442,
  &#39;Кашино&#39;: 443,
  &#39;Кашино с&#39;: 444,
  &#39;Кашкар&#39;: 445,
  &#39;Кашкарагаиха с&#39;: 446,
  &#39;Каярлык с&#39;: 447,
  &#39;Каяшкан с&#39;: 448,
  &#39;Кебезень с&#39;: 449,
  &#39;Кемерово&#39;: 450,
  &#39;Кемерово г&#39;: 451,
  &#39;Кибраи п&#39;: 452,
  &#39;Киприно с&#39;: 453,
  &#39;Киприно с.&#39;: 454,
  &#39;Кирей с&#39;: 455,
  &#39;Кировский п&#39;: 456,
  &#39;Киселевск&#39;: 457,
  &#39;Кисилёвск г&#39;: 458,
  &#39;Кичек п&#39;: 459,
  &#39;Клепечиха с&#39;: 460,
  &#39;Клепиково с&#39;: 461,
  &#39;Клочки с&#39;: 462,
  &#39;Ключи с&#39;: 463,
  &#39;Ключи с.&#39;: 464,
  &#39;Ключики с&#39;: 465,
  &#39;Кокорский п&#39;: 466,
  &#39;Коктобе с&#39;: 467,
  &#39;Кокшетау&#39;: 468,
  &#39;Кокшетау г&#39;: 469,
  &#39;Кокши с&#39;: 470,
  &#39;Коловый мыс с&#39;: 471,
  &#39;Колпаково с&#39;: 472,
  &#39;Колыванское с&#39;: 473,
  &#39;Колывань с&#39;: 474,
  &#39;Колывань с.&#39;: 475,
  &#39;Кольцово рп&#39;: 476,
  &#39;Комариха&#39;: 477,
  &#39;Комариха с&#39;: 478,
  &#39;Комарское с&#39;: 479,
  &#39;Комендантка с&#39;: 480,
  &#39;Коминтерн п&#39;: 481,
  &#39;Комсомольск-на-Амуре г&#39;: 482,
  &#39;Комсомольский п&#39;: 483,
  &#39;Константиновка с&#39;: 484,
  &#39;Контошино с&#39;: 485,
  &#39;Коныр-Озек с&#39;: 486,
  &#39;Корболиха с&#39;: 487,
  &#39;Корнилово с&#39;: 488,
  &#39;Коробейниково с&#39;: 489,
  &#39;Королевский п&#39;: 490,
  &#39;Королёвский п&#39;: 491,
  &#39;Коротояк с&#39;: 492,
  &#39;Косиха&#39;: 493,
  &#39;Косиха с&#39;: 494,
  &#39;Костин Лог с&#39;: 495,
  &#39;Котляровка п&#39;: 496,
  &#39;Кочки с&#39;: 497,
  &#39;Кош-Агач с&#39;: 498,
  &#39;Кошмамбет&#39;: 499,
  &#39;Красная Орловка с&#39;: 500,
  &#39;Красногорское&#39;: 501,
  &#39;Красногорское c&#39;: 502,
  &#39;Красногорское с&#39;: 503,
  &#39;Краснодарское с&#39;: 504,
  &#39;Краснодубровский п&#39;: 505,
  &#39;Краснознаменка с&#39;: 506,
  &#39;Краснощеково с&#39;: 507,
  &#39;Краснощёково с&#39;: 508,
  &#39;Красноярка&#39;: 509,
  &#39;Красноярка п&#39;: 510,
  &#39;Красноярка с&#39;: 511,
  &#39;Красноярск&#39;: 512,
  &#39;Красноярск г&#39;: 513,
  &#39;Красноярское с&#39;: 514,
  &#39;Краснояры с&#39;: 515,
  &#39;Красный Партизан&#39;: 516,
  &#39;Красный Партизан с&#39;: 517,
  &#39;Красный Яр с&#39;: 518,
  &#39;Красный яр&#39;: 519,
  &#39;Красный яр с&#39;: 520,
  &#39;Крестьянка с&#39;: 521,
  &#39;Кривошеино с&#39;: 522,
  &#39;Кропоткин&#39;: 523,
  &#39;Крутиха&#39;: 524,
  &#39;Крутиха с&#39;: 525,
  &#39;Крутиха с.&#39;: 526,
  &#39;Крутишка&#39;: 527,
  &#39;Крутишка с&#39;: 528,
  &#39;Кубанка п&#39;: 529,
  &#39;Кузнецово с&#39;: 530,
  &#39;Кузьминка с&#39;: 531,
  &#39;Куйбышево п&#39;: 532,
  &#39;Куйбышево с&#39;: 533,
  &#39;Куликово с&#39;: 534,
  &#39;Кулунда&#39;: 535,
  &#39;Кулунда с&#39;: 536,
  &#39;Кулундинский п&#39;: 537,
  &#39;Кулундинский пос&#39;: 538,
  &#39;Куляба г&#39;: 539,
  &#39;Кумуш-Азис с&#39;: 540,
  &#39;Кунгуртуг с&#39;: 541,
  &#39;Курай с&#39;: 542,
  &#39;Курган-Тюбе&#39;: 543,
  &#39;Кургантюба г&#39;: 544,
  &#39;Кургантюбе&#39;: 545,
  &#39;Курлек&#39;: 546,
  &#39;Курочкино с&#39;: 547,
  &#39;Курск&#39;: 548,
  &#39;Курчатов г&#39;: 549,
  &#39;Курья&#39;: 550,
  &#39;Курья с&#39;: 551,
  &#39;Кусак с&#39;: 552,
  &#39;Кучук с&#39;: 553,
  &#39;Куяган с&#39;: 554,
  &#39;Куяча с&#39;: 555,
  &#39;Кызыл г&#39;: 556,
  &#39;Кызыл-Озек с&#39;: 557,
  &#39;Кызыл-Озёк с&#39;: 558,
  &#39;Кызыл-Сецгир А.&#39;: 559,
  &#39;Кытманово с&#39;: 560,
  &#39;Лаптев Лог с&#39;: 561,
  &#39;Ларичиха с&#39;: 562,
  &#39;Лебедино с&#39;: 563,
  &#39;Лебяжье&#39;: 564,
  &#39;Лебяжье с&#39;: 565,
  &#39;Лебяжье с Барнаул г&#39;: 566,
  &#39;Лебяжье с, Барнаул г&#39;: 567,
  &#39;Ленина с&#39;: 568,
  &#39;Ленинск-Кузнецкий&#39;: 569,
  &#39;Ленинск-Кузнецкий г&#39;: 570,
  &#39;Ленск г&#39;: 571,
  &#39;Леньки с&#39;: 572,
  &#39;Лесное с&#39;: 573,
  &#39;Лесной г.&#39;: 574,
  &#39;Лесной п&#39;: 575,
  &#39;Линево рп&#39;: 576,
  &#39;Линевский п&#39;: 577,
  &#39;Линьфэнь&#39;: 578,
  &#39;Листвянка с&#39;: 579,
  &#39;Литвиновка п&#39;: 580,
  &#39;Логовское с&#39;: 581,
  &#39;Логовской п&#39;: 582,
  &#39;Локоть с&#39;: 583,
  &#39;Локтевский&#39;: 584,
  &#39;Лохэ&#39;: 585,
  &#39;Луговое&#39;: 586,
  &#39;Луговое с&#39;: 587,
  &#39;Луговское с&#39;: 588,
  &#39;Луковка с&#39;: 589,
  &#39;Ляонин&#39;: 590,
  &#39;Магадан г&#39;: 591,
  &#39;Магнитогорск г&#39;: 592,
  &#39;Майкота с&#39;: 593,
  &#39;Майла-Суу&#39;: 594,
  &#39;Майлуу-Суу&#39;: 595,
  &#39;Майлуу-Суу г&#39;: 596,
  &#39;Майма с&#39;: 597,
  &#39;Майорка с&#39;: 598,
  &#39;Майрамкан&#39;: 599,
  &#39;Майский п&#39;: 600,
  &#39;Макарово с&#39;: 601,
  &#39;Макарьевка с&#39;: 602,
  &#39;Малахово с&#39;: 603,
  &#39;Малая Черга с&#39;: 604,
  &#39;Малиновое Озеро РП&#39;: 605,
  &#39;Малиновое Озеро рп&#39;: 606,
  &#39;Малиновое озеро РП&#39;: 607,
  &#39;Малиновое озеро рп&#39;: 608,
  &#39;Малиновский п&#39;: 609,
  &#39;Маловолчанка с&#39;: 610,
  &#39;Малоенисейское с&#39;: 611,
  &#39;Малоугренево с&#39;: 612,
  &#39;Малые Бутырки&#39;: 613,
  &#39;Малые Бутырки с&#39;: 614,
  &#39;Малый Бащелак с&#39;: 615,
  &#39;Малышев Лог с&#39;: 616,
  &#39;Мамонтово с&#39;: 617,
  &#39;Маомин&#39;: 618,
  &#39;Маралиха с&#39;: 619,
  &#39;Мараловодка п&#39;: 620,
  &#39;Маральи Рожки с&#39;: 621,
  &#39;Маргилан г.&#39;: 622,
  &#39;Маркаколь п&#39;: 623,
  &#39;Марковка с&#39;: 624,
  &#39;Мартыново&#39;: 625,
  &#39;Мартыново с&#39;: 626,
  &#39;Марушка&#39;: 627,
  &#39;Марушка с&#39;: 628,
  &#39;Масальский п&#39;: 629,
  &#39;Маслянино рп&#39;: 630,
  &#39;Маточный п&#39;: 631,
  &#39;Машенка с&#39;: 632,
  &#39;Междуреченск&#39;: 633,
  &#39;Междуреченск г&#39;: 634,
  &#39;Мельниковка п&#39;: 635,
  &#39;Мельниково с&#39;: 636,
  &#39;Металлургов п&#39;: 637,
  &#39;Миасс г&#39;: 638,
  &#39;Мирабилит п&#39;: 639,
  &#39;Мирный г&#39;: 640,
  &#39;Мирный п&#39;: 641,
  &#39;Михайловка с&#39;: 642,
  &#39;Михайловское&#39;: 643,
  &#39;Михайловское с&#39;: 644,
  &#39;Мичуринское с&#39;: 645,
  &#39;Многоозерный п&#39;: 646,
  &#39;Москва&#39;: 647,
  &#39;Москва г&#39;: 648,
  &#39;Моховское&#39;: 649,
  &#39;Мочище дп&#39;: 650,
  &#39;Муданьцзян&#39;: 651,
  &#39;Мульта с&#39;: 652,
  &#39;Муравей с&#39;: 653,
  &#39;Мухор-Тархата с&#39;: 654,
  &#39;Мыски&#39;: 655,
  &#39;Мыски г&#39;: 656,
  &#39;Мытищи&#39;: 657,
  &#39;Мышланка с&#39;: 658,
  &#39;Мяньян городской округ&#39;: 659,
  &#39;Навобод с&#39;: 660,
  &#39;Налобиха с&#39;: 661,
  &#39;Наньнин городской округ&#39;: 662,
  &#39;Наньчун&#39;: 663,
  &#39;Наньян&#39;: 664,
  &#39;Неводное с&#39;: 665,
  &#39;Невьянск г&#39;: 666,
  &#39;Ненинка с&#39;: 667,
  &#39;Нечунаево с&#39;: 668,
  &#39;Нижневартовск г&#39;: 669,
  &#39;Нижнекаменка с&#39;: 670,
  &#39;Нижнеозерное с&#39;: 671,
  &#39;Нижнечуманка с&#39;: 672,
  &#39;Нижний Кучук с&#39;: 673,
  &#39;Нижняя Петровка п&#39;: 674,
  &#39;Нижняя Суетка с&#39;: 675,
  &#39;Нижняя Тура г&#39;: 676,
  &#39;Николаевка с&#39;: 677,
  &#39;Никольск с&#39;: 678,
  &#39;Никольский п&#39;: 679,
  &#39;Никольское&#39;: 680,
  &#39;Новалтайск г&#39;: 681,
  &#39;Новая Бухтарма п&#39;: 682,
  &#39;Новая Михайловка с&#39;: 683,
  &#39;Новая Тараба с&#39;: 684,
  &#39;Новая Чемровка с&#39;: 685,
  &#39;Новиково с&#39;: 686,
  &#39;Новичиха с&#39;: 687,
  &#39;Ново-Тырышкино с&#39;: 688,
  &#39;Новоалейское с&#39;: 689,
  &#39;Новоалександровка с&#39;: 690,
  &#39;Новоалексеевка с&#39;: 691,
  &#39;Новоалтайск&#39;: 692,
  &#39;Новоалтайск г&#39;: 693,
  &#39;Новоалтайск г Новый п&#39;: 694,
  &#39;Новобураново с&#39;: 695,
  &#39;Новодраченино с&#39;: 696,
  &#39;Новоегорьевское&#39;: 697,
  &#39;Новоегорьевское с&#39;: 698,
  &#39;Новоеловка с&#39;: 699,
  &#39;Новозыково с&#39;: 700,
  &#39;Новоивановка с&#39;: 701,
  &#39;Новоильинка с&#39;: 702,
  &#39;Новоильинка с.&#39;: 703,
  &#39;Новокопылово с&#39;: 704,
  &#39;Новокормиха с&#39;: 705,
  &#39;Новокузнецк&#39;: 706,
  &#39;Новокузнецк г&#39;: 707,
  &#39;Новоманошкино с&#39;: 708,
  &#39;Новомихайловка п&#39;: 709,
  &#39;Новомоношкино с&#39;: 710,
  &#39;Новониколаевка с&#39;: 711,
  &#39;Новообинцево&#39;: 712,
  &#39;Новообинцево с&#39;: 713,
  &#39;Новоперуново&#39;: 714,
  &#39;Новоперуново с&#39;: 715,
  &#39;Новопесчаное с&#39;: 716,
  &#39;Новопокровка&#39;: 717,
  &#39;Новопокровка с&#39;: 718,
  &#39;Новополтава с&#39;: 719,
  &#39;Новороманово с&#39;: 720,
  &#39;Новороссийский п&#39;: 721,
  &#39;Новосельское с&#39;: 722,
  &#39;Новосибирск&#39;: 723,
  &#39;Новосибирск г&#39;: 724,
  &#39;Новотроицк п&#39;: 725,
  &#39;Новотырышкино с&#39;: 726,
  &#39;Новоугловский п&#39;: 727,
  &#39;Новофирсово с&#39;: 728,
  &#39;Новошипуново с&#39;: 729,
  &#39;Новоярки&#39;: 730,
  &#39;Новоярки с&#39;: 731,
  &#39;Новые Зори п&#39;: 732,
  &#39;Новые Зори с&#39;: 733,
  &#39;Новый Бельтир с&#39;: 734,
  &#39;Новый Уренгой&#39;: 735,
  &#39;Новый Уренгой г&#39;: 736,
  &#39;Новый Чарыш п&#39;: 737,
  &#39;Новый Шарап д&#39;: 738,
  &#39;Новый п&#39;: 739,
  &#39;Норильск&#39;: 740,
  &#39;Норильск г&#39;: 741,
  &#39;Ноябрьск&#39;: 742,
  &#39;Нурек&#39;: 743,
  &#39;Овсянниково с&#39;: 744,
  &#39;Огневка с&#39;: 745,
  &#39;Огни с&#39;: 746,
  &#39;Озерки с&#39;: 747,
  &#39;Озерки ст&#39;: 748,
  &#39;Озерное с&#39;: 749,
  &#39;Озерный пгт&#39;: 750,
  &#39;Озеро-Красилово с&#39;: 751,
  &#39;Озеро-Петровское с&#39;: 752,
  &#39;Озимая ст&#39;: 753,
  &#39;Озёрки ст&#39;: 754,
  &#39;Октябрь п&#39;: 755,
  &#39;Октябрьский п&#39;: 756,
  &#39;Октябрьский пос&#39;: 757,
  &#39;Октябрьский с&#39;: 758,
  &#39;Омск&#39;: 759,
  &#39;Омск г&#39;: 760,
  &#39;Омск г, Крутая Горка м-н&#39;: 761,
  &#39;Онгудай&#39;: 762,
  &#39;Онгудай с&#39;: 763,
  &#39;Опытное поле пос&#39;: 764,
  &#39;Орехово с&#39;: 765,
  &#39;Орлеан с.&#39;: 766,
  &#39;Орлово с&#39;: 767,
  &#39;Ороктой с&#39;: 768,
  &#39;Ортолык с&#39;: 769,
  &#39;Осинники г&#39;: 770,
  &#39;Осколково с&#39;: 771,
  &#39;Островное&#39;: 772,
  &#39;Островное с&#39;: 773,
  &#39;Отрадное с&#39;: 774,
  &#39;Ош&#39;: 775,
  &#39;Ош г&#39;: 776,
  &#39;П.Урожайный&#39;: 777,
  &#39;Павловка с&#39;: 778,
  &#39;Павловск&#39;: 779,
  &#39;Павловск с&#39;: 780,
  &#39;Павлодар&#39;: 781,
  &#39;Павлодар г&#39;: 782,
  &#39;Павлодар г.&#39;: 783,
  &#39;Паклино с&#39;: 784,
  &#39;Палатка п&#39;: 785,
  &#39;Панкрушиха с&#39;: 786,
  &#39;Панкрушиха ст.&#39;: 787,
  &#39;Партизанское с&#39;: 788,
  &#39;Парфеново с&#39;: 789,
  &#39;Паспарта с&#39;: 790,
  &#39;Паспаул с&#39;: 791,
  &#39;Паспул с&#39;: 792,
  &#39;Пастхуф с&#39;: 793,
  &#39;Паутово с&#39;: 794,
  &#39;Пеледуй п&#39;: 795,
  &#39;Пенджекент&#39;: 796,
  &#39;Первокаменка&#39;: 797,
  &#39;Первокаменка с&#39;: 798,
  &#39;Первомайский п&#39;: 799,
  &#39;Первомайское с&#39;: 800,
  &#39;Первомайское с.&#39;: 801,
  &#39;Первые Коростели с&#39;: 802,
  &#39;Перешеечный п&#39;: 803,
  &#39;Песчаное с&#39;: 804,
  &#39;Песьянка с&#39;: 805,
  &#39;Петрапавловск г&#39;: 806,
  &#39;Петропавловск г&#39;: 807,
  &#39;Петропавловское&#39;: 808,
  &#39;Петропавловское с&#39;: 809,
  &#39;Петрушиха с&#39;: 810,
  &#39;Петухи с&#39;: 811,
  &#39;Пещерка с&#39;: 812,
  &#39;Пещёрка с&#39;: 813,
  &#39;Плешково с&#39;: 814,
  &#39;Плоское с&#39;: 815,
  &#39;Плотава с&#39;: 816,
  &#39;Плотниково с&#39;: 817,
  &#39;Победа с&#39;: 818,
  &#39;Победим п&#39;: 819,
  &#39;Повалиха с&#39;: 820,
  &#39;Подборный п.&#39;: 821,
  &#39;Подгорное с&#39;: 822,
  &#39;Подойниково с&#39;: 823,
  &#39;Подсосново с.&#39;: 824,
  &#39;Подсосново ул.&#39;: 825,
  &#39;Покровка с&#39;: 826,
  &#39;Полевое с&#39;: 827,
  &#39;Полевое с.&#39;: 828,
  &#39;Полковниково с&#39;: 829,
  &#39;Поломошное с&#39;: 830,
  &#39;Полуямки&#39;: 831,
  &#39;Полуямки п&#39;: 832,
  &#39;Полуямки с&#39;: 833,
  &#39;Пономарево с&#39;: 834,
  &#39;Поперечное с&#39;: 835,
  &#39;Поперечное с.&#39;: 836,
  &#39;Поповка&#39;: 837,
  &#39;Порожнее с&#39;: 838,
  &#39;Порт-Хархорт&#39;: 839,
  &#39;Пос.Зато Сибирский&#39;: 840,
  &#39;Поспелиха с&#39;: 841,
  &#39;Поспелихинский&#39;: 842,
  &#39;Поспелихинский п&#39;: 843,
  &#39;Правда п&#39;: 844,
  &#39;Правда пос&#39;: 845,
  &#39;Прапорщиково с&#39;: 846,
  &#39;Пригородное с&#39;: 847,
  &#39;Приобское с&#39;: 848,
  &#39;Прокопьевск&#39;: 849,
  &#39;Прокопьевск г&#39;: 850,
  &#39;Прослауха с&#39;: 851,
  &#39;Протасово с&#39;: 852,
  &#39;Протасово с.&#39;: 853,
  &#39;Прудской п&#39;: 854,
  &#39;Прутской п&#39;: 855,
  &#39;Прыганка с&#39;: 856,
  &#39;Пурпе п&#39;: 857,
  &#39;Пустынь с&#39;: 858,
  &#39;Пуштулим&#39;: 859,
  &#39;Пятилетка п&#39;: 860,
  &#39;РП Благовещенка&#39;: 861,
  &#39;РП Степное Озеро&#39;: 862,
  &#39;Радужный г&#39;: 863,
  &#39;Раздольное с&#39;: 864,
  &#39;Ракиты с&#39;: 865,
  &#39;Ребриха&#39;: 866,
  &#39;Ребриха с&#39;: 867,
  &#39;Ребриха ст&#39;: 868,
  &#39;Редкая Дубрава с&#39;: 869,
  &#39;Редкая Дубрава с.&#39;: 870,
  &#39;Редккая Дубрава с.&#39;: 871,
  &#39;Речкуново с&#39;: 872,
  &#39;Риддер&#39;: 873,
  &#39;Риддер г&#39;: 874,
  &#39;Риддер г.&#39;: 875,
  &#39;Рогозиха с&#39;: 876,
  &#39;Родино с&#39;: 877,
  &#39;Родинский&#39;: 878,
  &#39;Рожнев Лог с&#39;: 879,
  &#39;Романово с&#39;: 880,
  &#39;Россоши с&#39;: 881,
  &#39;Рошни-Чу с&#39;: 882,
  &#39;Рубцовск&#39;: 883,
  &#39;Рубцовск г&#39;: 884,
  &#39;Ручьёво с&#39;: 885,
  &#39;Рыбное&#39;: 886,
  &#39;Рыбное с&#39;: 887,
  &#39;С. Борисово&#39;: 888,
  &#39;С. Бурла&#39;: 889,
  &#39;С. Завьялово&#39;: 890,
  &#39;С.Боровиха&#39;: 891,
  &#39;С.Ельцовка&#39;: 892,
  &#39;С.Залесово&#39;: 893,
  &#39;С.Камышинка&#39;: 894,
  &#39;С/С Поршенев&#39;: 895,
  &#39;СЕЛО сОРОЧИЙ-лОГ&#39;: 896,
  &#39;Саввушка с&#39;: 897,
  &#39;Савинка с&#39;: 898,
  &#39;Савкино с&#39;: 899,
  &#39;Садовый п&#39;: 900,
  &#39;Сайдып с&#39;: 901,
  &#39;Салаир&#39;: 902,
  &#39;Самагалтай с&#39;: 903,
  &#39;Самарка с&#39;: 904,
  &#39;Самсоново с&#39;: 905,
  &#39;Сангар п&#39;: 906,
  &#39;Санкт-Петербург г&#39;: 907,
  &#39;Санникова с&#39;: 908,
  &#39;Санниково с&#39;: 909,
  &#39;Санья&#39;: 910,
  &#39;Сараи с&#39;: 911,
  &#39;Сарань&#39;: 912,
  &#39;Сараса&#39;: 913,
  &#39;Сараса с&#39;: 914,
  &#39;Саратан с&#39;: 915,
  &#39;Саратовка с&#39;: 916,
  &#39;Сарбанд г&#39;: 917,
  &#39;Сарыг-Сеп с&#39;: 918,
  &#39;Сафроново с&#39;: 919,
  &#39;Саяногорск г&#39;: 920,
  &#39;Свекловичный п&#39;: 921,
  &#39;Свердловское с&#39;: 922,
  &#39;Сверчково с&#39;: 923,
  &#39;Светлое с&#39;: 924,
  &#39;Светлоозерское с&#39;: 925,
  &#39;Северка&#39;: 926,
  &#39;Северка с&#39;: 927,
  &#39;Северный п&#39;: 928,
  &#39;Северобайкальск&#39;: 929,
  &#39;Селекционное с&#39;: 930,
  &#39;Селекционное с.&#39;: 931,
  &#39;Селиверстово с&#39;: 932,
  &#39;Село Гоньба&#39;: 933,
  &#39;Село Урлапово&#39;: 934,
  &#39;Село Шипуново&#39;: 935,
  &#39;Семей&#39;: 936,
  &#39;Семей г&#39;: 937,
  &#39;Семей г, Восточный п&#39;: 938,
  &#39;Семей, Западный п&#39;: 939,
  &#39;Семей, Мукур с&#39;: 940,
  &#39;Семеновка с&#39;: 941,
  &#39;Семеновка с.&#39;: 942,
  &#39;Семипалатинск г&#39;: 943,
  &#39;Сентелек с&#39;: 944,
  &#39;Серноводск с&#39;: 945,
  &#39;Сибирские Огни п&#39;: 946,
  &#39;Сибирский&#39;: 947,
  &#39;Сибирский ЗАТО&#39;: 948,
  &#39;Сибирский п&#39;: 949,
  &#39;Сибирский с&#39;: 950,
  &#39;Сидоровка с&#39;: 951,
  &#39;Ситников с&#39;: 952,
  &#39;Ситниково с&#39;: 953,
  &#39;Славгород&#39;: 954,
  &#39;Славгород г&#39;: 955,
  &#39;Славгород г, Знаменка с&#39;: 956,
  &#39;Славгород г.&#39;: 957,
  &#39;Славгород, Екатериновка с.&#39;: 958,
  &#39;Славгород, Славгородское с&#39;: 959,
  &#39;Славгородское с&#39;: 960,
  &#39;Славгородское с.&#39;: 961,
  &#39;Смазнево ст&#39;: 962,
  &#39;Смоленский п&#39;: 963,
  &#39;Смоленское&#39;: 964,
  &#39;Смоленское с&#39;: 965,
  &#39;Соболи п&#39;: 966,
  &#39;Советский Путь с&#39;: 967,
  &#39;Советское с&#39;: 968,
  &#39;Совхозный п&#39;: 969,
  &#39;Соколово с&#39;: 970,
  &#39;Солнечное с&#39;: 971,
  &#39;Солнечный п&#39;: 972,
  &#39;Солонешное с&#39;: 973,
  &#39;Солоновка с&#39;: 974,
  &#39;Солтон с&#39;: 975,
  &#39;Сомони п&#39;: 976,
  &#39;Сорочий Лог с&#39;: 977,
  &#39;Сорочий лог с&#39;: 978,
  &#39;Сосновка с&#39;: 979,
  &#39;Соузга с&#39;: 980,
  &#39;Соусканиха с&#39;: 981,
  &#39;Спетное с&#39;: 982,
  &#39;Спирино с&#39;: 983,
  &#39;Среднекрасилово с&#39;: 984,
  &#39;Среднесибирский п&#39;: 985,
  &#39;Сростки с&#39;: 986,
  &#39;Сросты с&#39;: 987,
  &#39;Стан-Бехтемир с&#39;: 988,
  &#39;Старая Суртайка п&#39;: 989,
  &#39;Старая Тараба с&#39;: 990,
  &#39;Старая Чемровка с&#39;: 991,
  &#39;Староалейское с&#39;: 992,
  &#39;Старобелокуриха с&#39;: 993,
  &#39;Стародраченино с&#39;: 994,
  &#39;Степное Озеро РП&#39;: 995,
  &#39;Степное Озеро рп&#39;: 996,
  &#39;Степное озеро РП&#39;: 997,
  &#39;Степное озеро р.п.&#39;: 998,
  &#39;Степное озеро рп&#39;: 999,
  ...},
 &#39;Изучаемый_Язык&#39;: {&#39;-&#39;: 0,
  &#39;Английский язык&#39;: 1,
  &#39;Немецкий язык&#39;: 2,
  &#39;Французский язык&#39;: 3},
 &#39;Основания&#39;: {&#39;БН&#39;: 0, &#39;ДН&#39;: 1, &#39;ОО&#39;: 2, &#39;СН&#39;: 3, &#39;ЦН&#39;: 4},
 &#39;Регион_ПП&#39;: {&#39;-&#39;: 0,
  &#39;АО Чукотский&#39;: 1,
  &#39;Акмолинская обл&#39;: 2,
  &#39;Акмолинская обл.&#39;: 3,
  &#39;Алайский край&#39;: 4,
  &#39;Алматинская&#39;: 5,
  &#39;Алматинская обл&#39;: 6,
  &#39;Алматинская область&#39;: 7,
  &#39;Алтай Респ&#39;: 8,
  &#39;Алтай респ&#39;: 9,
  &#39;Алтайски край&#39;: 10,
  &#39;Алтайский карй&#39;: 11,

In [304]:
columns_to_code = {
    'Основания': 'basis',
    'Изучаемый_Язык': 'language',    
    'Страна_ПП': 'country',
    #'Регион_ПП': 'region',
    #'Город_ПП': 'city',
    'Страна_Родители': 'parents_country',
}

In [305]:
list(columns_to_code.values())

[&#39;basis&#39;, &#39;language&#39;, &#39;country&#39;, &#39;parents_country&#39;]

In [306]:
columns_to_model = digit_columns + list(columns_to_code.values())
columns_to_model

[&#39;ID&#39;,
 &#39;Код_группы&#39;,
 &#39;Год_Поступления&#39;,
 &#39;Год_Окончания_УЗ&#39;,
 &#39;Пособие&#39;,
 &#39;Общежитие&#39;,
 &#39;Наличие_Матери&#39;,
 &#39;Наличие_Отца&#39;,
 &#39;Опекунство&#39;,
 &#39;Село&#39;,
 &#39;Иностранец&#39;,
 &#39;КодФакультета&#39;,
 &#39;СрБаллАттестата&#39;,
 &#39;male&#39;,
 &#39;female&#39;,
 &#39;sex_summ&#39;,
 &#39;birth_year_int&#39;,
 &#39;Статус&#39;,
 &#39;basis&#39;,
 &#39;language&#39;,
 &#39;country&#39;,
 &#39;parents_country&#39;]

In [307]:
# Функция для преобразования слова в код по заданному правилу

def get_code(x: pd.Series, code_dict) -> pd.Series:    
    return code_dict[x]

In [308]:
clean_frame.groupby('Основания')['ID'].count()

Основания
БН     873
ДН     973
ОО    2565
СН    2177
ЦН     103
Name: ID, dtype: int64

In [309]:

for name, code in columns_to_code.items():     
    clean_frame[columns_to_code[name]] = clean_frame[name].apply(get_code, args=(codes_rule[name],))

clean_frame

,ID,Код_группы,Год_Поступления,Пол,Основания,Изучаемый_Язык,Дата_Рождения,Уч_Заведение,Где_Находится_УЗ,Год_Окончания_УЗ,...,female,sex_summ,birth_year,entrance,birth_year_int,Статус,basis,language,country,parents_country
0,64996,20608,2014,Жен,ДН,Английский язык,1995-11-03 00:00:00.000,"МБОУ ""СОШ №55""","Алтайский край, Барнаул г",2014.0,...,1,1,1995-11-03,2014-01-01,1995,0,1,1,8,10
1,71837,20613,2015,Жен,ДН,Немецкий язык,1995-12-10 00:00:00.000,"МБОУ ""СОШ №1""","Алтайский край, Рубцовск г",2014.0,...,1,1,1995-12-10,2015-01-01,1995,0,1,2,8,10
2,86587,21210,2018,Жен,ОО,Английский язык,1973-08-09 00:00:00.000,Алтайский государственный медицинский университет,"Алтайский край, г. Барнаул",1997.0,...,1,1,1973-08-09,2018-01-01,1973,0,2,1,8,10
3,73673,22254,2015,Жен,ОО,Английский язык,1983-12-07 00:00:00.000,"ГОУ ВПО ""Алтайский государственный университет""","Алтайский край, Барнаул г",2006.0,...,1,1,1983-12-07,2015-01-01,1983,0,2,1,8,10
4,54709,15040,2012,Жен,ОО,-,1994-05-21 00:00:00.000,-,-,NaN,...,1,1,1994-05-21,2012-01-01,1994,0,2,0,8,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6686,74342,20680,2016,Муж,БН,Английский язык,1992-03-06 00:00:00.000,ГУ Павлодарский профессиональный лицей №7,"Казахстан, Павлодарская обл, г Павлодар",2011.0,...,0,1,1992-03-06,2016-01-01,1992,0,0,1,6,7
6687,54876,16921,2013,Жен,ОО,-,1995-11-08 00:00:00.000,-,-,NaN,...,1,1,1995-11-08,2013-01-01,1995,0,2,0,8,10
6688,66879,19400,2014,Жен,СН,Английский язык,1996-03-31 00:00:00.000,"МБОУ ""Гимназия №42""","Алтайский край, Барнаул г",2014.0,...,1,1,1996-03-31,2014-01-01,1996,0,3,1,8,10
6689,64982,18152,2014,Муж,ОО,Немецкий язык,1996-08-22 00:00:00.000,"МБОУ ""Ребрихинская СОШ""","Алтайский край, Ребрихинский р-н, Ребриха ст",2014.0,...,0,1,1996-08-22,2014-01-01,1996,0,2,2,8,10
6690,69975,17312,2015,Муж,ОО,Английский язык,1992-06-29 00:00:00.000,"ФГБОУ ВПО ""Алтайский государственный университет""","Алтайский край, Барнаул г",2014.0,...,0,1,1992-06-29,2015-01-01,1992,0,2,1,8,10

In [310]:
frame_to_csv = clean_frame.loc[clean_frame['СрБаллАттестата'] < 100]

In [311]:

frame_to_csv.loc[:, columns_to_model].to_csv('data/test_frame.csv', index_label='ind')

In [312]:
clean_frame.isna().any()

ID                  False
Код_группы          False
Год_Поступления     False
Пол                 False
Основания           False
Изучаемый_Язык      False
Дата_Рождения       False
Уч_Заведение        False
Где_Находится_УЗ    False
Год_Окончания_УЗ     True
Пособие             False
Страна_ПП           False
Регион_ПП           False
Город_ПП            False
Общежитие           False
Наличие_Матери      False
Наличие_Отца        False
Страна_Родители     False
Опекунство          False
Село                False
Иностранец          False
КодФакультета       False
СрБаллАттестата     False
male                False
female              False
sex_summ            False
birth_year          False
entrance            False
birth_year_int      False
Статус              False
basis               False
language            False
country             False
parents_country     False
dtype: bool