In [1]:
# Importing the libraries
from pathlib import Path

import pandas as pd
import numpy as np
#from tensorflow import keras
#from tensorflow.keras import layers
from sklearn.model_selection import train_test_split

In [ ]:
base_csv = Path('data/clean_frame.csv')

In [423]:
base_df = pd.read_csv(base_csv, index_col='ind')
base_df.columns

Index(['Код_группы', 'Год_Поступления', 'Пособие', 'Общежитие',
       'Наличие_Матери', 'Наличие_Отца', 'Опекунство', 'Село', 'Иностранец',
       'КодФакультета', 'СрБаллАттестата', 'Статус', 'male', 'female',
       'birth_year_int', 'basis', 'language', 'country', 'region', 'city',
       'parents_country'],
      dtype='object')

In [424]:
base_df = base_df.fillna(0)

In [425]:
columns = ['Наличие_Матери', 'Село', 'Иностранец', 'СрБаллАттестата', 'Статус', 'male', 'basis','language','country', 'КодФакультета', 'Общежитие', 'parents_country']
#columns = base_df.columns.to_list()
priznaki = len(columns)
priznaki

12

In [426]:
frame_to_train = base_df.loc[:, columns]

In [427]:
result_key = {
    -1: 0,
    3: 1,
    4: 2,
}

In [428]:
for key, value in result_key.items():
    frame_to_train.loc[frame_to_train['Статус'] == key, 'Статус'] = value

frame_to_train.groupby('Статус').count()

,Наличие_Матери,Село,Иностранец,СрБаллАттестата,male,basis,language,country,КодФакультета,Общежитие,parents_country
Статус,,,,,,,,,,,
0,603,603,603,603,603,603,603,603,603,603,603
1,4660,4660,4660,4660,4660,4660,4660,4660,4660,4660,4660
2,8181,8181,8181,8181,8181,8181,8181,8181,8181,8181,8181

In [429]:
train, test = train_test_split(frame_to_train, test_size=0.20)

In [430]:
train_input = train.drop('Статус', axis=1)
train_output = train['Статус']

In [431]:
test_input = test.drop('Статус', axis=1)
test_output = test['Статус']

In [432]:
train_output.info

<bound method Series.info of ind
5330    2
1409    1
7708    1
6959    2
2935    2
       ..
9618    2
5634    2
1506    2
2662    2
6530    2
Name: Статус, Length: 10755, dtype: int64>

In [433]:
input_df_size = train_input.shape[0]

In [434]:
# Constructing the input
x = train_input.to_numpy()
y = train_output.values
arr = np.transpose(x)

In [435]:
output = np.ones((1,input_df_size))
output[0] = y
arr_y = output.reshape(input_df_size,1)
arr_y

array([[2.],
       [1.],
       [1.],
       ...,
       [2.],
       [2.],
       [2.]])

In [436]:
# Definig the model
model_better = keras.Sequential([
    keras.layers.Dense(150, input_shape=(priznaki-1,), activation='relu'),
    keras.layers.Dense(32, activation='relu'),
    keras.layers.Dense(250, activation='relu'),    
    keras.layers.Dense(3, activation='softmax'),
])

In [437]:
# Compiling the model
model_better.compile(optimizer='Nadam',
                     loss='sparse_categorical_crossentropy',
                     metrics=['accuracy'])

In [438]:
# fitting the model
model_better.fit(x, y, epochs=100, batch_size=70)

Epoch 1/100
154/154 [==============================] - 1s 839us/step - loss: 0.8037 - accuracy: 0.6077
Epoch 2/100
154/154 [==============================] - 0s 848us/step - loss: 0.7824 - accuracy: 0.6206
Epoch 3/100
154/154 [==============================] - 0s 840us/step - loss: 0.7683 - accuracy: 0.6320
Epoch 4/100
154/154 [==============================] - 0s 830us/step - loss: 0.7597 - accuracy: 0.6421
Epoch 5/100
154/154 [==============================] - 0s 849us/step - loss: 0.7532 - accuracy: 0.6461
Epoch 6/100
154/154 [==============================] - 0s 921us/step - loss: 0.7427 - accuracy: 0.6536
Epoch 7/100
154/154 [==============================] - 0s 824us/step - loss: 0.7377 - accuracy: 0.6576
Epoch 8/100
154/154 [==============================] - 0s 891us/step - loss: 0.7308 - accuracy: 0.6623
Epoch 9/100
154/154 [==============================] - 0s 1ms/step - loss: 0.7258 - accuracy: 0.6663
Epoch 10/100
154/154 [==============================] - 0s 1ms/step - loss: 0.7248 - accuracy: 0.6647
Epoch 11/100
154/154 [==============================] - 0s 906us/step - loss: 0.7181 - accuracy: 0.6713
Epoch 12/100
154/154 [==============================] - 0s 862us/step - loss: 0.7169 - accuracy: 0.6695
Epoch 13/100
154/154 [==============================] - 0s 885us/step - loss: 0.7128 - accuracy: 0.6761
Epoch 14/100
154/154 [==============================] - 0s 882us/step - loss: 0.7103 - accuracy: 0.6769
Epoch 15/100
154/154 [==============================] - 0s 877us/step - loss: 0.7058 - accuracy: 0.6815
Epoch 16/100
154/154 [==============================] - 0s 874us/step - loss: 0.7049 - accuracy: 0.6788
Epoch 17/100
154/154 [==============================] - 0s 952us/step - loss: 0.7041 - accuracy: 0.6840
Epoch 18/100
154/154 [==============================] - 0s 856us/step - loss: 0.7016 - accuracy: 0.6823
Epoch 19/100
154/154 [==============================] - 0s 849us/step - loss: 0.6978 - accuracy: 0.6857
Epoch 20/100
154/154 [==============================] - 0s 857us/step - loss: 0.6953 - accuracy: 0.6881
Epoch 21/100
154/154 [==============================] - 0s 882us/step - loss: 0.6964 - accuracy: 0.6850
Epoch 22/100
154/154 [==============================] - 0s 856us/step - loss: 0.6935 - accuracy: 0.6891
Epoch 23/100
154/154 [==============================] - 0s 833us/step - loss: 0.6927 - accuracy: 0.6882
Epoch 24/100
154/154 [==============================] - 0s 837us/step - loss: 0.6911 - accuracy: 0.6876
Epoch 25/100
154/154 [==============================] - 0s 862us/step - loss: 0.6915 - accuracy: 0.6916
Epoch 26/100
154/154 [==============================] - 0s 839us/step - loss: 0.6877 - accuracy: 0.6885
Epoch 27/100
154/154 [==============================] - 0s 863us/step - loss: 0.6886 - accuracy: 0.6893
Epoch 28/100
154/154 [==============================] - 0s 867us/step - loss: 0.6869 - accuracy: 0.6888
Epoch 29/100
154/154 [==============================] - 0s 884us/step - loss: 0.6837 - accuracy: 0.6907
Epoch 30/100
154/154 [==============================] - 0s 867us/step - loss: 0.6827 - accuracy: 0.6921
Epoch 31/100
154/154 [==============================] - 0s 873us/step - loss: 0.6837 - accuracy: 0.6942
Epoch 32/100
154/154 [==============================] - 0s 887us/step - loss: 0.6801 - accuracy: 0.6962
Epoch 33/100
154/154 [==============================] - 0s 862us/step - loss: 0.6791 - accuracy: 0.6961
Epoch 34/100
154/154 [==============================] - 0s 886us/step - loss: 0.6778 - accuracy: 0.6966
Epoch 35/100
154/154 [==============================] - 0s 868us/step - loss: 0.6776 - accuracy: 0.6976
Epoch 36/100
154/154 [==============================] - 0s 871us/step - loss: 0.6758 - accuracy: 0.6949
Epoch 37/100
154/154 [==============================] - 0s 877us/step - loss: 0.6750 - accuracy: 0.6948
Epoch 38/100
154/154 [==============================] - 0s 832us/step - loss: 0.6745 - accuracy: 0.6976
Epoch 39/100
154/154 [==============================] - 0s 889us/step - loss: 0.6725 - accuracy: 0.6991
Epoch 40/100
154/154 [==============================] - 0s 843us/step - loss: 0.6716 - accuracy: 0.7012
Epoch 41/100
154/154 [==============================] - 0s 851us/step - loss: 0.6719 - accuracy: 0.6974
Epoch 42/100
154/154 [==============================] - 0s 870us/step - loss: 0.6698 - accuracy: 0.7003
Epoch 43/100
154/154 [==============================] - 0s 877us/step - loss: 0.6691 - accuracy: 0.7000
Epoch 44/100
154/154 [==============================] - 0s 873us/step - loss: 0.6674 - accuracy: 0.7014
Epoch 45/100
154/154 [==============================] - 0s 853us/step - loss: 0.6682 - accuracy: 0.7011
Epoch 46/100
154/154 [==============================] - 0s 886us/step - loss: 0.6659 - accuracy: 0.7027
Epoch 47/100
154/154 [==============================] - 0s 865us/step - loss: 0.6655 - accuracy: 0.7026
Epoch 48/100
154/154 [==============================] - 0s 852us/step - loss: 0.6685 - accuracy: 0.7008
Epoch 49/100
154/154 [==============================] - 0s 876us/step - loss: 0.6640 - accuracy: 0.7019
Epoch 50/100
154/154 [==============================] - 0s 849us/step - loss: 0.6632 - accuracy: 0.7049
Epoch 51/100
154/154 [==============================] - 0s 885us/step - loss: 0.6636 - accuracy: 0.7045
Epoch 52/100
154/154 [==============================] - 0s 851us/step - loss: 0.6640 - accuracy: 0.7026
Epoch 53/100
154/154 [==============================] - 0s 858us/step - loss: 0.6620 - accuracy: 0.7034
Epoch 54/100
154/154 [==============================] - 0s 839us/step - loss: 0.6623 - accuracy: 0.7040
Epoch 55/100
154/154 [==============================] - 0s 870us/step - loss: 0.6594 - accuracy: 0.7045
Epoch 56/100
154/154 [==============================] - 0s 871us/step - loss: 0.6598 - accuracy: 0.7053
Epoch 57/100
154/154 [==============================] - 0s 859us/step - loss: 0.6566 - accuracy: 0.7066
Epoch 58/100
154/154 [==============================] - 0s 855us/step - loss: 0.6579 - accuracy: 0.7043
Epoch 59/100
154/154 [==============================] - 0s 877us/step - loss: 0.6584 - accuracy: 0.7036
Epoch 60/100
154/154 [==============================] - 0s 866us/step - loss: 0.6575 - accuracy: 0.7046
Epoch 61/100
154/154 [==============================] - 0s 852us/step - loss: 0.6561 - accuracy: 0.7050
Epoch 62/100
154/154 [==============================] - 0s 855us/step - loss: 0.6557 - accuracy: 0.7088
Epoch 63/100
154/154 [==============================] - 0s 873us/step - loss: 0.6532 - accuracy: 0.7055
Epoch 64/100
154/154 [==============================] - 0s 885us/step - loss: 0.6555 - accuracy: 0.7034
Epoch 65/100
154/154 [==============================] - 0s 887us/step - loss: 0.6521 - accuracy: 0.7103
Epoch 66/100
154/154 [==============================] - 0s 840us/step - loss: 0.6520 - accuracy: 0.7103
Epoch 67/100
154/154 [==============================] - 0s 875us/step - loss: 0.6511 - accuracy: 0.7069
Epoch 68/100
154/154 [==============================] - 0s 866us/step - loss: 0.6504 - accuracy: 0.7081
Epoch 69/100
154/154 [==============================] - 0s 887us/step - loss: 0.6468 - accuracy: 0.7116
Epoch 70/100
154/154 [==============================] - 0s 830us/step - loss: 0.6494 - accuracy: 0.7077
Epoch 71/100
154/154 [==============================] - 0s 859us/step - loss: 0.6486 - accuracy: 0.7093
Epoch 72/100
154/154 [==============================] - 0s 861us/step - loss: 0.6495 - accuracy: 0.7092
Epoch 73/100
154/154 [==============================] - 0s 840us/step - loss: 0.6492 - accuracy: 0.7058
Epoch 74/100
154/154 [==============================] - 0s 854us/step - loss: 0.6477 - accuracy: 0.7111
Epoch 75/100
154/154 [==============================] - 0s 864us/step - loss: 0.6461 - accuracy: 0.7103
Epoch 76/100
154/154 [==============================] - 0s 850us/step - loss: 0.6487 - accuracy: 0.7119
Epoch 77/100
154/154 [==============================] - 0s 839us/step - loss: 0.6473 - accuracy: 0.7098
Epoch 78/100
154/154 [==============================] - 0s 873us/step - loss: 0.6458 - accuracy: 0.7099
Epoch 79/100
154/154 [==============================] - 0s 883us/step - loss: 0.6465 - accuracy: 0.7100
Epoch 80/100
154/154 [==============================] - 0s 855us/step - loss: 0.6431 - accuracy: 0.7141
Epoch 81/100
154/154 [==============================] - 0s 862us/step - loss: 0.6451 - accuracy: 0.7115
Epoch 82/100
154/154 [==============================] - 0s 852us/step - loss: 0.6441 - accuracy: 0.7116
Epoch 83/100
154/154 [==============================] - 0s 896us/step - loss: 0.6423 - accuracy: 0.7088
Epoch 84/100
154/154 [==============================] - 0s 887us/step - loss: 0.6439 - accuracy: 0.7123
Epoch 85/100
154/154 [==============================] - 0s 840us/step - loss: 0.6424 - accuracy: 0.7118
Epoch 86/100
154/154 [==============================] - 0s 886us/step - loss: 0.6405 - accuracy: 0.7151
Epoch 87/100
154/154 [==============================] - 0s 871us/step - loss: 0.6414 - accuracy: 0.7120
Epoch 88/100
154/154 [==============================] - 0s 858us/step - loss: 0.6388 - accuracy: 0.7156
Epoch 89/100
154/154 [==============================] - 0s 842us/step - loss: 0.6400 - accuracy: 0.7134
Epoch 90/100
154/154 [==============================] - 0s 879us/step - loss: 0.6397 - accuracy: 0.7113
Epoch 91/100
154/154 [==============================] - 0s 849us/step - loss: 0.6375 - accuracy: 0.7153
Epoch 92/100
154/154 [==============================] - 0s 850us/step - loss: 0.6386 - accuracy: 0.7144
Epoch 93/100
154/154 [==============================] - 0s 878us/step - loss: 0.6397 - accuracy: 0.7134
Epoch 94/100
154/154 [==============================] - 0s 858us/step - loss: 0.6391 - accuracy: 0.7119
Epoch 95/100
154/154 [==============================] - 0s 913us/step - loss: 0.6355 - accuracy: 0.7154
Epoch 96/100
154/154 [==============================] - 0s 839us/step - loss: 0.6363 - accuracy: 0.7154
Epoch 97/100
154/154 [==============================] - 0s 865us/step - loss: 0.6351 - accuracy: 0.7150
Epoch 98/100
154/154 [==============================] - 0s 880us/step - loss: 0.6350 - accuracy: 0.7148
Epoch 99/100
154/154 [==============================] - 0s 867us/step - loss: 0.6333 - accuracy: 0.7086
Epoch 100/100
154/154 [==============================] - 0s 837us/step - loss: 0.6341 - accuracy: 0.7165

In [439]:
# Evaluating the model
x_t = test_input.to_numpy()
y_t = test_output.values

model_better.evaluate(x_t, y_t, batch_size=8)

337/337 [==============================] - 0s 526us/step - loss: 0.6803 - accuracy: 0.7047

[0.6803385019302368, 0.7047229409217834]

In [440]:
tusa = model_better.predict(x_t)

85/85 [==============================] - 0s 479us/step

In [441]:
def get_result(answer_arr: np.array) -> int:
    answer_code = np.argmax(answer_arr)

    # list out keys and values separately
    key_list = list(result_key.keys())
    val_list = list(result_key.values())
    
    # print key with val 100
    position = val_list.index(answer_code)
    return  key_list[position], answer_code

In [442]:
answers = []
for answer_arr in tusa:
    answers.append(get_result(answer_arr)[1])

In [443]:
test_output

ind
6125     2
5803     2
976      2
5452     2
4474     2
        ..
13042    2
8030     2
10807    1
11190    2
6085     1
Name: Статус, Length: 2689, dtype: int64

In [444]:
compare_df = pd.DataFrame(columns=['real', 'calculation'])
compare_df['real'] = y_t
compare_df['calculation'] = answers
compare_df

      real  calculation
0        2            2
1        2            2
2        2            2
3        2            1
4        2            2
...    ...          ...
2684     2            2
2685     2            2
2686     1            2
2687     2            2
2688     1            2

[2689 rows x 2 columns]

In [445]:
compare_df['new'] = np.where((compare_df['real'] == compare_df['calculation']), compare_df['real'], 100)
compare_df.groupby('new').count()

     real  calculation
new
0       2            2
1     493          493
2    1400         1400
100   794          794

In [446]:
r = 1 + 503 + 1418 + 767
767 / r

0.28523614726664187